[2015-02-22 17:20] johanneskoester opened #3 "TODO"
This is a continuously updated list of TODOs. If you have a suggestion, comment to the issue. I will update the list if the suggestion fits in.

# Changes to current code
* make SAIS implementation generic over the used alphabet data type and dynamically chose the right type depending on the number of characters.

# New code
* add indexed FASTA reader based on the seek method of current fasta read

[2015-02-22 18:05] vd-n commented on #3
Hello! I've been thinking what could be useful for generic library for bioinformatics tasks. This is what I thought:
1. Add to your "HMM" point Baum-Welch and Viterbi algorithms implementation just to clarify what should be done in particular.
2. Add simple hamming and levenshtein distance, so they could be effortlessly called with just one function like "hamming(seq1, seq2);".
2.1. Or/and more ge

[2015-02-22 18:08] parir commented on #3
Some more suggestions:
- Add multiple alignments to `bio::alignment`.
- Add the amino acid alphabet to `bio::alphabets`.
- Some common AA substitution matrices like PAM250 or BLOSUM62 would be nice! :)

[2015-02-22 18:10] parir commented on #3
I agree with @vd-n

[2015-02-22 18:11] vd-n commented on #3
@parir Thanks! (: What algorithms for multiple alignments do you think would be the most useful?

[2015-02-22 18:12] parir commented on #3
I agree with @vd-n. It would be good to look into the other Bio[programming language of your choice] frameworks to figure out common API design principles.

[2015-02-22 18:19] parir commented on #3
@vd-n Tough question! I haven't worked with sequence alignments in the last 3-4 years, so I don't know the current state of the art algorithms. Back then Muscle, MAFFT and ProbCons where supposed to be pretty good. ClustalW could also be included, because it's the classic one.

[2015-02-22 21:40] johanneskoester commented on #3
Thank you, guys!
I have included most of your suggestions above.
Regarding parallelization, I would like to leave it out of the API right now, and let the user decide by invoking functions within threads. However, there might be cases where this does not make sense, like multiple alignments. We can see how to update the paradigm later then.

[2015-02-25 19:04] parir opened #5 "Consider renaming the pattern_matching module"
Especially in Rust the term 'pattern matching' suggests the corresponding programming language feature. Maybe rename it to something along the lines of 'substr_search'.

[2015-02-25 19:04] parir opened #6 "Add documentation"
There are many spots that could really need some docs and examples.

[2015-02-26 10:38] johanneskoester commented on #5
Hi parir,
I understand your comment, and agree that this is unfortunate. But for me, sticking to the proper computer science term is more important, especially since the module contains many algorithms relevant for teaching.

Sorry.

[2015-02-26 10:38] #5 closed

[2015-07-14 08:17] endrebak commented on #3
Something similar to bx-pythons clustertrees and intervaltrees, perhaps? Simple, but indispensable...

[2015-07-15 21:15] johanneskoester commented on #3
Very good idea, I have added it to the list.

[2015-07-16 10:33] endrebak commented on #3
An extremely common use case I had in Python was turning a bed file into a dict of cluster or intervaltrees, where the keys were chromosomes or chromosome/strand tuples. Might be nice to have.

Of course this is trivial to code up oneself - is Rust-bio more about implementing the difficult stuff or also having convenience functions?

[2015-07-16 10:43] endrebak opened #7 "FFI?"
I am fairly new to Rust, but can't find any hint in the source or docs that you want to make these lib functions easy to call from Ruby/Python.

What are your thoughts about making Rust-bio easy to call from other languages?

[2015-07-16 11:02] endrebak opened #8 "Bed sorter?"
In chip-seq pipelines the bottleneck is often read deduplication.

The current fastest way, AFAICS, is just using `sort -u k....`.

Do you think this is something that can be done much more quickly in Rust? And if so, is it worth adding to Rust-bio? (Bedtools has no improved sort, so perhaps it is hard...)

UNIX sort is pretty optimized, but cannot take into account that chromosomes are limited in

[2015-07-16 11:15] johanneskoester commented on #8
Hi,
very interesting comment. Sorting bed files is certainly doable in Rust-Bio. I don't know if I understand the ChIP-Seq application fully. So, why not using picard-tools or samtools rmdup on the bam file?

[2015-07-16 11:20] johanneskoester commented on #7
In principle, Rust code can be called from any language that can interface with C. In python, you can just use ctypes (see http://siciarz.net/24-days-of-rust-calling-rust-from-other-languages for a detailed discussion). I don't know if there are potential problems, but I am happy to help with testing.

[2015-07-16 11:21] johanneskoester commented on #3
The key idea is to have a toolbox for anything that reoccurs when doing bioinformatics in Rust. In this sense, your suggestion fits perfectly.

[2015-07-16 11:41] endrebak commented on #8
That would be the best way certainly, but if I make software for others to use, I cannot be sure that they have sorted files.

I'll close this, thanks. If sb has a strong interest in this feature, just ask me to reopen.

[2015-07-16 11:41] #8 closed

[2015-07-16 11:52] endrebak commented on #7
It seems like it should be very easy; just add a `no_mangle` to the function definitions, like shown here: https://github.com/alexcrichton/rust-ffi-examples/tree/master/python-to-rust/src

I dunno if there are any downsides to adding these declarations though.

[2015-07-16 11:52] #7 closed

[2015-08-04 10:53] vadimnazarov commented on #3
Hi everyone,
i have a couple of questions and suggestions regarding Rust-Bio.
1) do I need to somehow "take" a task and say it somewhere so no one else will take it and therefore no parallel work will be done?
2) after careful thinking I think that implementing multiple alignment algorithms, clones of bowtie, bwa-mem, BLAST or other widely used software isn't very practical. I think the best way w

[2015-08-04 11:22] johanneskoester commented on #3
Hi,

thanks for the useful suggestions! Let me answer piece by piece:

1. Good question. I think it would be best to post it here (maybe together with a link to your fork) and I will format to TODO list at the top accordingly.
2. The alignment algorithms provided in Rust-Bio are intended for tasks where you need more control (or have different questions) than with e.g. a traditional read mapper an

[2015-08-06 15:44] delehef opened #10 "`suffix_array` error"
When trying to apply `suffix_array` to the `TGTGTGTGTG$` string, I get an arithmetic operation overflow, coming from `suffix_array.rs:323`. Indeed, `self.lms_pos.len() - 1` errs because `self.lms_pos.len() == 0`. Surprinsingly, it doesnt err with `TGTGTGTG$` (the same with a `TG` less). It also errs with this non-trivial random [fasta file](https://files.odena.eu/test.fasta).

[2015-08-06 23:59] johanneskoester commented on #10
Hi and thanks for reporting.
I think I fixed the bug the newest release.
If problems persist, feel free to reopen.

[2015-08-06 23:59] #10 closed

[2015-08-07 12:33] delehef commented on #10
Seems to work perfectly fine; thank you very much!

[2015-08-13 20:34] vadimnazarov commented on #3
Oops, please pardon me for the late response!

1. Ok, that's nice! I think it would be good to make a very clear note on that on the very top of the first message in this issue.
2. Sorry, I think i didn't get it, could you point me to this API?
3. Ah, I thought that on github it was just a clone of this repo.
4. Ok!
5. (at this point you have responded to my point "6" of the my original message)
5

[2015-08-13 20:49] vadimnazarov commented on #3
One more suggestion and one clarification to the previous one:
- a FASTQ reader to read pair-end / mate-pair files. This could be a simple wrapper around two FASTQ readers, that will match reads' accessions because sometimes orders of reads are different between two FASTQ files.
- add Rust speed benchmarks to the code (`cargo bench`)

Also I would like to take this task: `allow to call current pai

[2015-08-14 18:35] johanneskoester commented on #3
### Regarding 2:

The API I mean is this one:
http://doc.rust-lang.org/nightly/std/process/struct.Command.html

We have benchmarks now in the README.

### Regarding 5:

I agree, that should be easy to do. But if anybody wants to implement that, I would rather suggest him to do that in a separate library. Most importantly, these clustering methods are useful for other fields as well, so why hiding

[2015-08-15 14:51] vadimnazarov commented on #3
Ok, thank you for your response! One more little suggestion: make `rust-bio.github.io` repository with all documentation so it can be available at "https://rust-bio.github.io".

[2015-08-15 19:53] johanneskoester commented on #3
Good idea. I have done that as suggested.

[2015-08-16 08:05] vadimnazarov opened #11 "A bug in pairwise::Traceback while performing the global alignment"
I've got a bug in the pairwise.rs file. If I run this code, all is ok:

[code]

But if I switch `x` and `y` like in the next piece of code, then it won't work correctly and fails with the `'arithmetic operation overflowed'` error at `src/alignment/pairwise.rs:336`:
[code]

336 line at `pairwise.rs`:
[code]

It seems that `i` sometimes could be zero when the second string is smaller than the first

[2015-08-16 08:10] vadimnazarov opened #12 "A bug in semiglobal alignment"
Consider this example:

[code]
Output will be `Alignment { score: 2, ystart: 0, xstart: 9, xlen: 11, operations: [Match, Match] }`

But if we switch `x` and `y`:
[code]

we will get `Alignment { score: 1, ystart: 0, xstart: 6, xlen: 17, operations: [Match, Subst, Subst, Match, Subst, Subst, Subst, Match, Match, Match, Match] }`

[2015-08-16 08:30] vadimnazarov opened #13 "Can't copy scores because they are closures"
Currently in Rust you can't copy closures, e.g., this will get you the error message:
[code]
-> `error: use of moved value: 'score'`

Therefore you need to do some counter-intuitive things like this:
[code]

Can we somehow resolve this? As I understand it could be done via passing `&score` instead of `score`.

[2015-08-16 14:23] johanneskoester commented on #11
Thanks vadim. I fixed the issue. Actually, the problem was that the first column of the traceback matrix was initialized with deletions instead of insertions.

[2015-08-16 14:23] #11 closed

[2015-08-16 14:44] johanneskoester commented on #13
Very good idea. I have changed the implementation accordingly.

[2015-08-16 14:44] #13 closed

[2015-08-16 16:16] johanneskoester commented on #12
Thank you for reporting and tracking down to good test cases. I fixed the issues in the master branch.

[2015-08-16 16:16] #12 closed

[2015-08-16 16:26] johanneskoester commented on #6
Documentation has been considerably extended now. Thanks for pointing this out.

[2015-08-16 16:26] #6 closed

[2015-10-13 07:53] llogiq opened #16 "Use travis-cargo to upload docs"
With travis-cargo, you can upload the docs without needing to install anything, so you could use `sudo: false` in your `.travis.yml`. This makes use of Travis' container-based build, which is faster.

For an example config, see the [one](https://github.com/llogiq/optional/blob/master/.travis.yml) from my optional crate.

[2015-10-13 12:30] johanneskoester commented on #16
Thanks, that looks great! I will switch as soon as possible!

[2015-10-22 04:28] rilut commented on #3
Hello, I'm interested in rust-bio, but I have no experiences with Rust. I only experienced with Biopython. Any suggestion?
Can I work on the BLOSUM?

[2015-10-22 04:30] rilut commented on #3
@vadimnazarov github.com/biorust is now unclaimed

[2015-10-22 14:10] johanneskoester commented on #3
@rilut sure feel free to fork and try it out. I will mark it in the list.

[2015-11-20 08:09] johanneskoester opened #25 "Scores module contains failing tests"
@rilut when I try to properly include the scores module, the ``pam200`` test fails. Further, I have seemingly random crashes, that are maybe caused by the lazy_static macro. We have to find the cause for this before I can activate the module. Could you have a look at the tests? To activate and build the module, you have to uncomment the lines in ``scores/mod.rs``.
Then, you can run ``cargo test``.

[2015-11-20 08:11] rilut commented on #25
whoa I'll take look at it

[2015-11-20 08:29] rilut commented on #25
@johanneskoester oh so that's why it was green :sweat_smile:. Should I commit the uncommented mod.rs also?

[2015-11-20 08:35] rilut commented on #25
By the way I have no idea about the lazy-static, because I haven't encountered the problem yet

[2015-11-20 08:38] rilut commented on #25
Btw I have no idea currently about the lazy-static, since I haven't encountered any problem yet

[2015-11-20 11:56] johanneskoester commented on #25
Maybe it is a local issue. I have merged it, and we will just see if the error occurs again before I release a new version.

[2015-11-20 11:56] #25 closed

[2015-11-28 00:22] bnbowman commented on #3
I'd also suggest SDP algorithms for sparse alignment - generally handy things tools, especially when working with genomic assemblies or noisy long-read technologies.

And much like @rilut , I'm fairly new to Rust and looking to learn more and help out.  Will poke around a bit and see if anything jumps out at me.

[2015-11-29 10:41] johanneskoester commented on #3
Thanks! I have added sparse alignment to the list! Looking forward to any contribution!

[2015-11-29 10:43] johanneskoester opened #27 "Join the team!"
Everybody is welcome to officially join the team. This does not involve any duties. Just contribute features you need for your own work. To join, please post here.

[2015-12-17 15:33] brentp commented on #3
This is more for rust-htslib, but it'd be nice to have an interface to the tabix stuff and potentially .csi.

[2015-12-18 10:28] johanneskoester commented on #3
That's a good point, thanks!

[2015-12-19 15:58] bluss opened #28 "Note about crate twoway"
Crate [`twoway`](https://crates.io/crates/twoway/), albeit a bit rough around the edges, might be interesting. It's the two way substring search algorithm (as used by rust's `str::find`), but provided for byte strings too. It also has a relatively experimental SSE4.2 accelerated version that's quite fast.

[2015-12-31 03:20] zitsen opened #29 "Seems a bug in `BitEnc` with width 3,5,7"
`push` is failed in `BitEnc` with width 3,5,7
[code]

Accoding to the [documentation](http://rust-bio.github.io/rust-bio/bio/data_structures/bitenc/index.html), I'm sure this should be work, but it fails.
[code]

[2016-01-03 15:17] johanneskoester commented on #29
Thanks a lot for reporting! It should be fixed in release 0.3.20.

A happy new year!

[2016-01-03 15:17] #29 closed

[2016-01-04 00:38] zitsen commented on #29
:+1:

[2016-01-05 21:59] dikaiosune opened #30 "FMIndex questions"
Imagine my delight that just as I'm learning Rust and getting ready to rewrite something that uses SeqAn I found this!

I'm curious if anyone has some thoughts on a couple of questions I have about the FMIndex implementation:

1. Would anyone else be interested in a memory-map-backed version? I'm currently trying to build some rather large indices and it would be nice to be able to build and query

[2016-01-08 16:55] johanneskoester commented on #30
Hi, and thanks!

1. Sounds reasonable. While I don't need it myself and currently don't have the resources to do that, I would be happy to accept pull requests. Can this be done transparently, e.g. by allocating a slice that is memory mapped and accessing it like a normal slice?
2. I would not recommend such a change. Logically, BWT and FMIndex are two different things, and the same BWT can be use

[2016-01-08 17:29] dikaiosune commented on #30
Thanks for taking the time to reply.

1. I'll see if I can find some time to do so. I'm still just learning how to do memory mapping in Rust (there are a couple of crates), but it's basically the way you described -- you get a region of memory allocated by the crate and then you treat it like a bunch of bytes in RAM, while the OS transparently handles the file interaction and caching. The one crat

[2016-01-14 11:23] johanneskoester commented on #30
1. Sounds great! Let me know if I can help!
2. Those are very reasonable arguments. Thanks for pointing this out! I have changed the implementation such that FMIndex now takes ownership of the BWT. Let me know if you agree with the changes, then I can release a new version.

Thanks!

[2016-01-26 12:25] mariokostelac opened #31 "Different packages"
Would it make sense to separate these algorithms in standalone packages and just list them on one place?

[2016-01-26 13:31] johanneskoester commented on #31
I don't think having a library containing everything creates too much overhead. It is also a matter of convenience "Depend on rust-bio and you have everything you need.". Also, having separate packages for tens of algorithms would dramatically increase the maintenance effort. In a sense, I am just following a well established pattern, like bioconda, bioperl and so on.

[2016-01-26 13:31] #31 closed

[2016-01-29 18:15] johanneskoester commented on #28
Nice! I think it would be a good idea to refer to that in the docs.
Sorry for the late answer, I somehow missed this :-(.

[2016-01-29 22:57] dikaiosune commented on #30
I think the changes you made to the FMIndex look great. I'm trying them out right now, but I don't see any issues.

On a related note, I'm still struggling to wrap my head around how to correctly memory map things and I haven't had a lot of time to devote to it. Hoping to spend some time on it soon, but no promises :).

[2016-01-29 23:17] dikaiosune opened #32 "Failing build due to ">=" entries in dependencies"
I just started a fresh project with rust-bio, and it's no longer compiling:

[code]

It looks like this is a problem due to `bit-set` updating to 0.3.0, which changed the API here (is it valid semver to have breaking changes when a 1.0 hasn't been hit?). I also noticed that rust-bio's current master fixes this problem. It seems that this breakage happened because Cargo.toml has all dependencies li

[2016-01-31 12:15] johanneskoester commented on #32
Thanks for letting me know. Indeed, I need to release a new version now. Right, for pre 1.0 dependencies we should depend on the exact version. For others, pinning the major version is reasonable.

[2016-01-31 12:19] johanneskoester commented on #32
Thinking about it. Just pinning the minor version (e.g. 0.3.* as it is now) should be ok as well. As rust packages should use semantic versioning, any breaking changes should result in an increase of the major version. For pre-1.0, that translates to an increase of the minor version. This way, we automatically ger bug fixes from the patch version (see [here](http://semver.org/).

[2016-01-31 12:26] #32 closed

[2016-01-31 12:26] johanneskoester commented on #32
Just released a new version with the fixes.

[2016-01-31 12:27] johanneskoester commented on #30
Glad to hear that, thanks!

[2016-02-10 19:30] dikaiosune commented on #30
Now that FMIndex has serde support (or will very soon), this resolves one of my main desires for adding memory-map support, so I'll close this issue since you already implemented the ownership change I was suggesting. At some point I may try to revisit the memory-mapping, and I'll open a PR if I get it working.

[2016-02-10 19:30] #30 closed

[2016-02-11 03:38] tlawrence3 opened #35 "No method named `seq` found"
I just started using rust and rust-bio. I was attempting to write a couple simple programs to get a feel for rust-bio and recieved this error: `no method named ``seq`` found for type ``core::result::Result<bio::io::fastq::Record, std::io::error::Error>` for this code:
[code]
If I comment out `let seq = record.seq();` It compiles and produces the correct number of records. I don't know if I am miss

[2016-02-11 09:45] johanneskoester commented on #35
Hi and welcome to Rust-Bio!
The iterator over the FASTQ records returns results (see [here](http://rust-bio.github.io/rust-bio/bio/io/fastq/struct.Records.html)), which is the Rust-way of handling errors. To get the actual record, you can ``unwrap()`` the result. That means, that your program will panic if an error during reading occurs.

[2016-02-11 09:46] johanneskoester commented on #35
I'm closing this, but feel free to aks further questions.

[2016-02-11 09:46] #35 closed

[2016-02-22 20:31] rundrop1 commented on #3
Greetings!

I have just finished the basic workings of a transcriptome translator.  The repo is available here: https://github.com/rundrop1/transcriptome_translator

It currently generates all possible Amino Acid sequences from Nucleotide sequences. Support for RNA is coming today. Currently getting output is hacky as the way I did it yesterday was to capture stdout by executing through vim which

[2016-02-23 17:15] johanneskoester commented on #3
Hi!
Well, thanks for considering Rust-Bio. Your project sounds very interesting. Since Rust-Bio is an algorithm library and not a command line utility, it cannot go into it directly. However, I invite you to contribute any code that is of general use as a data structure or algorithm. This way, we can maintain it as a community and you can use it in your tool without having duplicate effort. So, ca

[2016-02-23 23:30] dikaiosune opened #37 "Publish 0.5.0 to crates.io?"
It looks like the Travis build is passing, would you consider publishing 0.5.0 to crates.io? I'm eager to get rid of my local fork for my serde-reliant project :).

[2016-02-24 15:56] johanneskoester commented on #37
Sorry I totally forgot to do that. It is published now!

[2016-02-24 15:56] #37 closed

[2016-02-25 07:15] anderspitman commented on #3
Hey @johanneskoester, I'd be happy to implement a gtf/gff reader.

[2016-02-25 15:01] johanneskoester commented on #3
Great, thank you. I have added you to the list!

[2016-02-26 06:01] anderspitman commented on #3
Great! Did you have any specific preferences for the implementation? I was just planning on starting with making it as similar as possible to what you have for FASTA. I'm still relatively new to Rust so It'll probably be fairly iterative if you don't mind giving input while I learn best practices.

[2016-02-26 16:20] rundrop1 commented on #3
@anderspitman I've just created #rust-bio on irc.mozilla.org if you care to join me I can help answer your questions regarding rust.  It seems that the reader is not too complicated and I can walk you through how to do some of the Rusty things.  My implementation is verbose but easily readable with quite a few comments.

@johanneskoester What kind of killer feature would I have to add to the seria

[2016-02-26 19:16] johanneskoester commented on #3
@anderspitman, you should try to be similar to the BED parser (using the amazing csv crate), since gff and gtf are also mainly tab separated formats.

@rundrop1 Yeah, I think parallelization of our existing parsers should be pretty much straightforward.

[2016-02-27 20:37] cramertj opened #38 "Finding SMEMS with FMDIndex"
Not sure if this is the right place for this question-- I couldn't find contact info on the site, so I figured I'd make an issue.

I'm working with a group that's trying to use the FMDIndex (along with a String graph implementation we wrote) to build a de novo assembler in Rust. However, we're having trouble understanding the exact behavior of the .smems function, and getting it to work for our ne

[2016-02-27 23:53] johanneskoester commented on #38
Hi,
the FMDIndex implementation has its foundation in [this](http://bioinformatics.oxfordjournals.org/content/28/14/1838) paper. If there is an exact full match in the indexed sequence, smems will surely return that I believe. I am not quite sure what is the reason for a different behavior with ``i=1`` though... I am sure there is already some theory to finding greatest non-self prefixes. I would

[2016-02-27 23:54] johanneskoester commented on #38
Also, do you have a test case for the ``i=1`` behavior?

[2016-02-28 04:48] cramertj commented on #38
If that's not the intended behavior (as I expected), I will write a test case for it and submit it as a separate issue. I'll also work on implementing the non-self prefix overlap-- I'll try to have something before the end of next week.

[2016-02-28 05:44] cramertj opened #39 "SMEMS Creates Incorrect Matches"
I've provided a test in the following repo showing that FMDIndex::smems doesn't behave correctly when the query string is in the search string (notably with overlap = 1). When overlap is set to one, It seems to return the position of all strings matching the first two characters in the query string.

Here is my test:
https://github.com/cramertj/rust-bio-smems-test

[2016-02-28 21:47] cramertj commented on #27
cramertj -- I'd like to help where I can. I don't have very much bio knowledge, but I'm happy to lend a hand where I can (I'm trying to get in some more Rust practice).

[2016-02-28 23:06] cramertj commented on #38
In case you didn't notice, I posted a separate issue with a link to the failing test case.

[2016-02-29 08:15] cramertj commented on #38
I've got the behavior working (finding prefix matches non-inclusive of exact matches) by doing an exact-match check and then doing a forward extending construction of a BiInterval. This way, I can check that as soon as the BiInterval size is equal to the size of the exact-match, I've extended too far. This gives me the interval containing at least one non-exact prefix match, at which point I can e

[2016-02-29 13:35] johanneskoester commented on #38
Nice! I like the latter, a vec of one or two Biintervals. This is more lightweight and the user can decide how to proceed.

[2016-02-29 13:37] johanneskoester commented on #27
Great, thanks! I have sent an invitation!

[2016-02-29 20:14] johanneskoester commented on #39
I am pretty sure that I fixed it in the master branch. The pseudo code of the Fermi paper missed an invert of the `curr` array.

[2016-02-29 20:14] johanneskoester commented on #39
Feel free to reopen if problems remain, and thanks again for pointing this out and the test case!!

[2016-02-29 20:14] #39 closed

[2016-03-01 16:22] #16 closed

[2016-03-09 03:22] cramertj commented on #38
I've attempted to write out Sanger's overlap search and extract_irreducible in Rust. You can find it [here.](https://github.com/cramertj/rust-bio/tree/sanger_overlap_search)
Obviously, it has some issues (Sanger expects to have potentially negative interval bounds, rather than usize). I was also a bit confused about how to do things like iterate over the alphabet (which it doesn't seem like you're

[2016-03-14 18:52] johanneskoester commented on #38
Very nice! I really appreciate this! Can you create a PR, so it is easier to see the changes and comment on specific lines? For the iteration over the alphabet, you can do ``alphabet.symbols.iter()``.

Btw. sorry for my late answer, but I couldn't check mails last week.

Best,
Johannes

[2016-03-16 20:53] cramertj commented on #38
Sorry for my delay responding, too-- it's finals week for me right now. I'll switch over to alphabet.symbols.iter() and see if I can clean up the logic a bit, then I'll make a PR (probably later tonight or tomorrow morning).

[2016-03-16 21:07] cramertj opened #45 "Decreasing the size of the FM-Index by removing reliance upon Suffix Array"
Currently, FMIndex and FMDIndex queries return Interval/BiInterval which specify ranges in the suffix array. However, this requires users to keep their suffix array in memory. Ideally, an FM-index only requires an F and L column (where F is the column of characters pointed to by the indices in the suffix array, looking like "$$$...AAA...C...G...T..." for a DNA sequence). This is potentially much s

[2016-03-16 21:13] cramertj commented on #45
Perhaps following some of the suggestions made in #30?

[2016-03-17 14:11] johanneskoester commented on #45
I don't know if I get this. Are you referring to the last-to-first mapping approach in order to get substrings of the text from suffix array intervals? I would be happy to include an F-column implementation that does this lookup. However, I don't think it should be part of the FMIndex (as it is not needed always). Same story with the suffix array: it is not part of the FMIndex now, and if you don'

[2016-03-17 14:12] johanneskoester commented on #38
Great! No reason to apologize, I'm happy to have such a skilled contributor!

[2016-03-17 19:48] cramertj commented on #45
You need some samplings of the suffix array, yes, but not the whole thing. See the last few slides in [this lecture from JHU](https://www.cs.jhu.edu/~langmea/resources/lecture_notes/bwt_and_fm_index.pdf).

[2016-03-17 19:55] johanneskoester commented on #45
Nice! I wasn't aware of this view on FMIndex. I would be happy to have the implementation altered according to this.

[2016-03-17 20:37] cramertj commented on #45
Okay-- I'll see if I can put together something PR worthy over the next week.

[2016-04-16 19:58] apirogov opened #50 "SA construction via libdivsufsort as an option?"
I have a small project implemented in C that I tried to port to Rust (mostly successful) for fun. One thing I noticed is that the suffix array construction in this library is more than twice as slow as divsufsort, which is as far as I know the fastest currently existing implementation for suffix sorting.

Of course it's nice to have a pure-Rust library, but did you consider to add the possibility

[2016-04-17 13:40] johanneskoester commented on #50
Very interesting, thanks! I wonder if there is an underlying publication? Rust-Bio implements the SA-IS algorithm, pretty much like it is presented in textbooks. Do you have any idea if libdivsufsort implements another algorithm or is it just using some fancy optimizations?

[2016-04-17 14:22] apirogov commented on #50
Unfortunately I didn't find any paper, but I found [this thread](http://stackoverflow.com/questions/7857674/whats-the-current-state-of-the-art-suffix-array-construction-algorithm). The accepted answer is quite informative. Also, [on its homepage](https://github.com/y-256/libdivsufsort) it says that the algorithm is in fact O(n log n), which does not seem to matter in practice.

[2016-04-24 16:08] johanneskoester commented on #50
Interesting. So the complexity is worse, but in practice it is faster than the linear SAIS. I am hesitating to add a C binding to rust-bio (for portability reasons, but also because of the strong guarantees rust-bio provides for thread and memory safety). I would be fine with having a separate library like I did with rust-htslib though. We can even refer that in the rust-bio docs. If you want, tha

[2016-05-03 08:17] flying-sheep opened #52 "Make fastq::Record efficient and more useful"
I don’t like that interacting with header and sequences involves [work](https://github.com/rust-bio/rust-bio/blob/master/src/io/fastq.rs#L122)

i’d rather see storage without the `>` and all of the methods simply being:

[code]

also there should be ways to create Record structs in code, not just via Readers

[2016-05-03 11:19] johanneskoester commented on #52
Thanks for the suggestion! The reason for the current implementation was that you can skip records without having to parse them. But I am open to pull requests if you want to improve on this.

You can create a record in your own code, but you are right, that the private attributes don't allow to fill them at the moment. I agree that this should be fixed.

[2016-05-03 14:51] flying-sheep commented on #52
well, not really, as FASTQ is still a crappy format without index and we still have to search for the next `\n`. searching for `\n>` instead and failing loudly if it doesn’t come as expected should be very cheap.

[2016-05-03 15:51] flying-sheep commented on #52
i created a small comparison repo. as of now, Record is a trait, once backed by my version, once by yours. https://github.com/flying-sheep/fastq-comparison

i’ll extract the different readers/parsers as well and then try some benchmarks.

[2016-05-19 20:56] althonos opened #53 "Extend alphabets::dna::RevComp to work with the IUPAC alphabet"
All is in the title, I guess as there is a neat implementation of the IUPAC alphabet we should maybe get the RevComp algorithm working with IUPAC (it may even share the same implementation as the current one, we might just need to extend the `SYMBOLS` string in alphabets/dna.rs, although it may also not be as simple).

[2016-05-19 21:04] althonos commented on #53
Well actually replacing
[code]
by
[code]
should do the trick.

[2016-05-20 08:45] johanneskoester commented on #53
Good idea! Implemented with some additional improvements in issue #54.

[2016-05-20 08:45] #53 closed

[2016-05-20 20:29] natir commented on #3
Hi, after stolen gff parser to @anderspitman, code just support gff3 actually, I need produce more little bit of code for gff2 and gtf2 support.

But maybe I can work one the basic NGS statistics, in the time.

[2016-05-20 21:18] anderspitman commented on #3
@natir no problem on stealing ;) I haven't had time to start on this. Hopefully I'll be able to jump in soon

[2016-05-23 05:26] bnbowman opened #56 "Documentation for QGram Index?"
Trying to start in on some SDP alignments using the QGram index as a base, but I don't quite understand the Match objects it returns in test_matches() - Why is the count in the test-case 2 instead of 1?  The pattern only occurs once in the text

[2016-05-23 08:12] johanneskoester commented on #56
Hi, and thanks for your interest!
In the test case, q is set to 3. Hence, if the pattern occurs exactly in the text, you can expect 2 matches (GCT and CTG).

[2016-05-23 17:52] bnbowman commented on #56
Ah, that makes sense - my next question was going to be why the Intervals were Size=4 when Q=3.  Thanks!

[2016-05-24 05:24] bnbowman commented on #3
Just left a pull request with an IntervalTree implementation, and I'm starting to mess around with some SDP algorithms...

[2016-05-25 20:56] johanneskoester commented on #56
You're welcome ;-)!

[2016-05-25 20:56] #56 closed

[2016-05-31 19:32] rob-p commented on #3
Hi all,

  I'm very excited by this project!  I currently have almost no experience in Rust (I do almost all of my development in C++11/14), but I'm *very* interested in learning Rust, and potentially using it in some future projects.  One data structure I'd be very interested in seeing added to this crate is a de Bruijn graph.  This is obviously a widely used data structure in Bioinformatics, and

[2016-06-01 07:40] natir commented on #3
Hi @rob-p,

I make the same reflection yesterday, a de Brujin graph could be a very good feature for rust-bio. Maybe you can see the a very efficient de Brujin graph implementation in [GATB library](https://gatb.inria.fr/).

[2016-06-01 10:15] johanneskoester commented on #3
Indeed DBG would be nice. Feel free to contribute an implementation!

[2016-06-02 12:54] natir opened #60 "Create Traits for Sequence manipulation"
Actually if I want write a function one Sequence, I have two solution my function accept type like :

* io::fasta::Record and io::fastq::Record
* TextSlice

With Record solution I need overload function for accept all sequence type
With TextSlice if me function work one nucleotide and quality, my function take 2 argument.

A solution is create some Traits.

See this example :

[code]
I can write a

[2016-06-03 08:27] johanneskoester commented on #60
One of the principles of Rust-Bio is to use generic types from the standard library if possible. Hence, such a function should definitely use `TextSlice` for the sequence, and `&[u8]` for the quality. This way, people can use it even if they don't get input from the fastq or fasta readers.

[2016-06-07 00:34] pmarks opened #62 "Aligner: incorrect gap layout"
See test in PR: https://github.com/rust-bio/rust-bio/pull/61

Gaps are not being properly combined into minimal number of gaps. Getting following alignment:
[code]
instead of
[code]

[2016-06-11 19:57] pmarks commented on #62
fixed in #64

[2016-06-11 19:57] #62 closed

[2016-07-12 00:35] anp opened #69 "Use tuple structs/newtypes for data structures"
@cramertj reminded me of this with a comment on a PR. A number of data structures are implemented as type aliases currently:
- https://github.com/rust-bio/rust-bio/blob/master/src/data_structures/suffix_array.rs#L26
- https://github.com/rust-bio/rust-bio/blob/master/src/data_structures/bwt.rs#L17
- https://github.com/rust-bio/rust-bio/blob/master/src/stats/mod.rs#L14
- https://github.com/rust-bio/

[2016-07-12 03:06] johanneskoester commented on #69
That is right, on the other hand, one of the design principles I followed with Rust-Bio was to use the language types whenever possible. This way, all these type definitions allow still to use all methods of the underlying classes. If I am not mistaken, this ability is lost when using newtypes, right?

[2016-07-12 03:38] dikaiosune commented on #69
Very true. I think this is a hindrance in surmountable ways, and could also provide some benefit.

The hindrance: any desirable methods would need to be stubbed out to call the underlying storage:

[code]

This might even be macro-able (and I would be willing to do the legwork).

The advantage: aside from the compiler preventing users from passing a random Vec<u8> into a BWT-needing function (and

[2016-07-12 03:41] dikaiosune commented on #69
Thinking about it a little more, the one area where I think it would be a definite limitation would be for any projects which have traits auto-implemented for types from std. For example, if someone wants to use something like serde (but that's not derived in rust-bio), where the trait is already derived for Vec<T> but not custom types, they would probably need to submit a PR to have it derived. S

[2016-07-12 16:18] johanneskoester commented on #69
Your arguments sound convincing. If we have a one line to

1. inherit all methods from the wrapped type
2. inherit all traits of the wrapped type

I think it would be feasible without providing major disadvantages. If you want to try to achieve that (maybe there are already recipes available), please go ahead.

[2016-07-12 16:28] cramertj commented on #69
@dikaiosune You could actually fix the stubbing issue by making BWT `Deref<Target = Vec<u8>>`. That should allow `Deref` coercion to do its magic and give you all the methods you need.

Edit: @johanneskoester It's not exactly a "one-liner", but I think a `Deref` impl is simple enough. You could certainly write a macro to make it one line.

[2016-07-12 16:36] johanneskoester commented on #69
Interesting! Do you mean something like this:

[code]

[2016-07-12 16:37] dikaiosune commented on #69
Deref-coercion could work nicely. It would allow the compiler to give better error messages, although it would still allow users of the types to modify their state in invalid ways, as well as restricting future changes to the representation without breaking changes. One for three ain't bad! I'm going to take a crack at writing a macro to selectively implement methods/traits so that we could (for e

[2016-07-12 16:40] johanneskoester commented on #69
Maybe there is an example of either the one or the other way in the standard library?

[2016-07-12 16:45] dikaiosune commented on #69
There are some macros on crates.io for selectively implementing traits for newtypes:

https://github.com/DanielKeep/rust-custom-derive/blob/master/newtype_derive/src/lib.rs

I'm still looking around at how best to do so for dispatching method calls.

[2016-07-12 16:50] cramertj commented on #69
It seems like it'd be pretty easy to write a macro that takes a tuple struct with one field, a function name, and function signature and does the impl of the function for the tuple struct by calling the function on the child function.

Then again, how many things do we really need this for? Length and index?

[2016-07-12 16:58] dikaiosune commented on #69
The types I've seen type aliases for:

`Vec, SmallInts, f64, VecMap`

Just as an example, the Vec methods I would think we'd want to preserve (excluding traits we can autoderive and traits that the newtype_derive crate supports):

* `shrink_to_fit`
* `as_slice`
* `len`
* `get`
* `iter`
* `into_iter`
* `windows`/`chunks` (perhaps?)
* `contains`
* `clone`
* `borrow` (but as a BWTSlice?)

It's few en

[2016-07-12 17:09] cramertj commented on #69
Whoops, wrong button. Didn't mean to close.

[2016-07-12 17:16] anp opened #70 "Multiple sentinels and a sampled suffix array"
In making SampledSuffixArray work, I discovered that multiple "canonical" implementations of FMIndex don't seem to support multiple sentinels in the text. Ben Langmead's Python notebooks host an implementation which can't handle multiple sentinels, and it looks like SeqAn doesn't either (although they do in a roundabout way by using a generalized suffix array).

So the question I have is -- is it

[2016-07-12 17:56] johanneskoester commented on #69
@dikaiosune, do you mean [this](https://crates.io/crates/newtype_derive) crate?

[2016-07-12 17:57] dikaiosune commented on #69
Oops - pasted source link. Yes, that's the one I was looking at.

[2016-07-12 18:11] johanneskoester commented on #69
Maybe the provided NewtypeXY traits already cover all the methods we want to support. If not, we should be able to extend them, maybe even contributing to upstream, right? If the methods we want to support come from traits, this seems preferable than supporting them method by method (and with a more complicated macro invocation).

[2016-07-12 18:29] dikaiosune commented on #69
I like that idea. For the record, here's a super basic implementation as an example ([playpen](https://is.gd/Y2JeDu)):

[code]

The list I wrote above has several methods I think we'd want that aren't part of any traits, so I think some solution is in order. These macros are pretty simple, although I can see an argument for upstreaming them so we could so something like:

[code]

Assuming that's p

[2016-07-12 18:30] dikaiosune commented on #69
If this works for all involved, I can put together a PR for this tonight. I could also investigate using the custom_derive crate and seeing if I can get it into newtype_derive, so both halves of the solution are maintained together.

[2016-07-12 18:32] dikaiosune commented on #69
Although, one case this doesn't cover is how to handle this for newtypes with multiple elements. All of the changes I proposed are for examples where there would only be one element. Do either of you see a reason to need to support multiple newtype elements right now?

[2016-07-12 18:54] dikaiosune commented on #69
Opened an issue for discussion on the custom_derive/newtype_derive repo, I'll update here if anything meaningful happens in that direction.

[2016-07-12 19:27] dikaiosune commented on #70
@johanneskoester @cramertj I'm reading the SA-IS paper and here's their definition for the sentinel:

LMS-substring starting at S[n − 1] must be the unique smallest among all sampled by P<sub>1</sub> .

Which gives me the impression based on "unique smallest character" that there should only be one in the suffix array. They also mention this earlier:

I'm trying to get up to speed on these things

[2016-07-12 19:34] cramertj commented on #70
I'll give my personal use case as an example. It's common for suffix array structures to be used in the construction of string graphs, which involves looking at a large number of individual DNA reads and finding where they overlap. In order to do this, the reads are concatenated together and separated by sentinel characters. For an example, look at [SGA](https://github.com/jts/sga) and the related

[2016-07-12 19:48] dikaiosune commented on #70
Thanks for the link -- skimming through, it looks like they use a modified version of SA-IS to produce a generalized suffix array:

My understanding is that the rust-bio SA isn't generalized, and uses an implementation which claims to be just SA-IS (although I can't read the lecture notes it's based on).

[2016-07-14 13:00] johanneskoester commented on #70
Hi, I think I can help you here.
* indeed, we only have a normal, not a generalized SA (which I don't think we need)
* to make SA-IS work with multiple sentinels, the whole text is mapped to the ranks of the characters before applying SA-IS. Thereby, multiple occurences of the sentinel are mapped to increasing (artifical) ranks based on their occurence in the text (see [here](https://github.com/ru

[2016-07-14 13:04] johanneskoester commented on #69
Sounds like a great plan. Thanks for spearheading this, Adam. No, I don't think we need multi-element newtypes. In such a case I would prefer a struct.

[2016-07-14 16:28] cramertj commented on #70
@johanneskoester You're almost certainly right about needing to map the sentinel positions in addition to the normal sampling. That's how SGA does it-- I commented on my original pull request linking to their repo, and it looks like they iterate until they hit a sentinel or a sampled position. I didn't understand it at the time, but I bet we can get it to work if we make sure to sample sentinel po

[2016-07-14 16:33] dikaiosune commented on #70
I'd want to test it, but does that mean that the last N ranks (where N is the number of sentinels in a text) all point to the sentinels? If that's the case, then it'd be easy to simply count the number of sentinels, and sample the last N entries of the suffix array, regardless of their position in the text. Since the sampled suffix array short circuits all of the iteration through the BWT ranks wh

[2016-07-14 16:40] cramertj commented on #70
@dikaiosune That's my thinking, yes. You can find the number of sentinels using the "Less" array and looking at the first non-sentinel letter in the alphabet.

[2016-07-14 16:42] dikaiosune commented on #70
@cramertj Good call. I'll give that a try.

[2016-07-14 17:58] dikaiosune commented on #70
So, interestingly, the failed tests for the sampled suffix array aren't failing when looking up a the row of a sentinel, but other characters entirely. Seems to me that just explicitly sampling the sentinel rows may not be enough. Going to dig in further.

[2016-07-14 18:15] cramertj commented on #70
I think that the ordering of the sentinels is causing the stepping process to get thrown off when it goes past them. It's not just the sentinels that are wrong, but IIRC I was only getting errors if I stepped past a sentinel when trying to find the sampled item.

[2016-07-14 18:15] dikaiosune commented on #70
That's what it looks like after a bit of println debugging.

[2016-07-14 18:17] dikaiosune commented on #70
AFAICT, the row should always be moving up here:

[code]

[2016-07-14 18:36] cramertj commented on #70
That looks quite a lot like the debugging window I had for myself while working on this 😄. Did you get a chance to try adding the sentinel sampling? I'm excited to see how that goes.

[2016-07-14 18:37] dikaiosune commented on #70
Yeah, these numbers are with the sentinel sampling, looks like it's failing to short circuit when row == 21. Looking into what I did wrong with the sampling :).

[2016-07-14 19:09] dikaiosune commented on #70
@johanneskoester @cramertj Any idea what's happening here?

[code]
[code]

Shouldn't the suffix beginning at 4 be at index 1 in the suffix array? And the suffix beginning at 12 be at index 2?

[2016-07-14 19:51] cramertj commented on #70
@dikaiosune No idea. I had similar issues in the past with how sentinels get sorted in the creation of the suffix array. I'd go back and checkout the suffix array creation code and see if you can spot any missteps.

[2016-07-14 20:47] dikaiosune opened #71 "Potential issue with suffix array test_sorts_lexically test"
In the course of trying to make things work for #70, I noticed that the `test_sorts_lexically` case ([here](https://github.com/rust-bio/rust-bio/blob/master/src/data_structures/suffix_array.rs#L759)), uses a function called `str_from_pos`, and I'm not sure I understand the logic:

[code]

If I change this to (leaving the sentinels intact, and not trimming off any post-sentinel characters):

[code]

[2016-07-14 21:00] dikaiosune commented on #70
Side note: changing intra-text sentinels to a higher-sorting character (`b'&'` in my testing) means that the sampled suffix array code I have Just Works™.

It's a dirty hack, to be sure.

[2016-07-15 07:25] johanneskoester commented on #70
In the current implementation, sentinels are ranked from last (smallest) to first (highest). This is what you see in your example. `$T$` and `$G$T$` are sorted this way, because the sentinel the first string starts with is higher than the sentinel the second string starts with. In the original manuscript I used to implement the algorithm, the ordering was vice versa, but if I remember correctly @c

[2016-07-15 14:24] #71 closed

[2016-07-15 16:15] dikaiosune commented on #71
If anyone else comes along, this was clarified in https://github.com/rust-bio/rust-bio/issues/70#issuecomment-232882055.

[2016-07-15 17:00] dikaiosune commented on #70
That makes much more sense, thanks for clarifying!

I think the issue here is that the available methods I've found for recomputing intermediate rows of the suffix array (i.e. for a sampled suffix array) assume that *all* suffixes are ordered lexicographically, since it may need to traverse suffixes that start with a sentinel to calculate the correct offset. Not sure I see a good way forward... Po

[2016-07-15 17:12] johanneskoester commented on #70
If I remember correctly, @cramertj mentioned that he found an implementation of the sampling that can deal with multiple sentinels. Maybe that code can give us a hint. So far, I have not tried to understand the sampling code, but I can see if I find some time to do this next week if you haven't solved it by then. In principle, I would think that we can get the rank of the sentinel, and thereby pro

[2016-07-15 17:16] dikaiosune commented on #70
@johanneskoester Oh I see that comment now. I'll look at the SGA code this afternoon.

Re: ordering -- yeah, good clarification.

[2016-07-15 17:24] johanneskoester commented on #70
Thinking about it, did you try this:

1. in addition to the sample, have a Map of sentinel positions (in the suffix array) -> text positions.
2. if pos is in that map, obtain the text position from the map, otherwise perform the sample lookup.

[2016-07-15 17:33] dikaiosune commented on #70
I did try something which I think was equivalent, IIUC. The code I was using was just a HashMap<usize, usize> where K is the suffix array index, and V is the text index. When sampling the suffix array, the default behavior is to take rows of the SA where `sa[i] % K == 0`. So then I did that but also included all rows of the SA at the beginning which are suffixes. However, it seems that the issue l

[2016-07-16 05:28] johanneskoester commented on #70
I see, so it might be possible to capture these cases via an auxilliary DS.

[2016-07-16 06:08] dikaiosune commented on #70
I think it may very well be. The basic process is:

1. Set `nsteps` to 0
2. Check to see if current row is sampled, if sampled return `sample[row] + nsteps`
3. Get the character `c` from the BWT: `let c = bwt[row]`.
4. Determine the rank from the occurrence table: `let rank = if row == 0 { 0 } else { self.occ(row - 1, c) };`
5. Increment `nsteps`
6. Set `row = rank + self.less(c);`
7. Goto 2.

Sin

[2016-07-20 16:50] dikaiosune commented on #69
The author of newtype_derive pointed out a couple of issues with including function forwarding macros in that crate (https://github.com/DanielKeep/rust-custom-derive/issues/14#issuecomment-233847991). They're not interested in including the functionality in the crate, but they noted that we could still "inject" our own macros into custom derive. That'd likely be a bit more complex than the simple

[2016-07-21 06:32] johanneskoester commented on #69
Thanks for the update!

[2016-07-21 07:57] #60 closed

[2016-07-21 12:01] johanneskoester commented on #3
@rust-bio/contributors I have started a selection of command line utilities based on Rust-Bio: https://github.com/rust-bio/rust-bio-tools. This is not intended as a replacement to other tools. It should only fill gaps, where efficient or convenient tools for certain tasks in bioinformatics are not yet available. Feel free to contribute if you have some small tasks that can be nicely handled by Rus

[2016-08-01 09:13] johanneskoester commented on #27
Great to hear, welcome!

[2016-08-14 21:16] dikaiosune opened #80 "Using arrays of integers instead of Vec<usize> for Occ?"
I've been experimenting lately with the memory layout of Occ, and I think that there are some massive performance improvements to be had from compressing the Vec<Vec<usize>> to a Vec<[usize; SIZE_OF_ALPHABET]>, and then using a function to get the correct array index for a given character in the alphabet. This drastically reduces the memory usage of the Occ samples (each checkpoint is now limited

[2016-08-15 07:34] johanneskoester commented on #80
I would think that using ndarray could help as well, and maybe provide equal speed benefits?

[2016-08-15 15:50] rednum opened #81 "Add LICENSE file at the repository root"
Hi,

would it be possible to add LICENSE file in the repository? I mean a file with the full text of MIT license as linked in README.md.

thanks!

[2016-08-16 11:40] gamazeps commented on #27
Hi all I'd like to help if possible, even though I'm not an expert in bioinformatic nevertheless I do have some basic knowledge of it (basically the Coursera UCSD courses on bioinformatics), I basically have the next month to kill so feel free to through features to implement on me :)

username: gamazeps

(by the way github already shows the username, why do you want it posted here ?)

[2016-08-17 08:48] johanneskoester commented on #27
You are right, I changed the text ;-). Thanks for your interest in Rust-Bio!! Feel free to pick features from issue #3. Please let me know if I can help in any way. You can also propose new stuff to that list.

[2016-08-17 09:52] johanneskoester commented on #81
Done! Thanks for mentioning!

[2016-08-17 09:52] #81 closed

[2016-08-17 09:53] johanneskoester commented on #38
As the PR has been merged, can I close this issue?

[2016-08-17 17:03] cramertj commented on #38
There hasn't been a PR merged for this. I think you meant to close #45

[2016-08-18 07:42] johanneskoester commented on #38
You are right, this is not finished yet. I was confused because of PR #47 actually. We can keep this open.

[2016-09-02 20:47] audy opened #87 "no method named `seq` found for type Record"
I am getting this error when trying to run the FMIndex example:

[code]

Here's the source (slightly modified from example in documentation):

[code]

Any help will be appreciated. I'd also like to submit a PR to provide a functioning example in the documentation once I get this working.

[2016-09-02 22:26] johanneskoester commented on #87
Thanks for notifying. Indeed, the example was outdated due to some recent API refactoring. I have updated it, such that it should now work. Let me know if other problems arise.

[2016-09-02 22:26] #87 closed

[2016-09-02 22:47] audy commented on #87
I tried `let seq = record.seq;` as well but I get:

[code]

[2016-09-08 07:39] johanneskoester commented on #87
You have to handle the result first, either by unwrapping or using the `try!` macro. Please see the rust docs for information how to use error handling in rust. However, there should be no such example left, since all examples except the one on the homepage are tested automatically...

[2016-09-08 16:54] audy commented on #87
Thanks!

[2016-10-06 21:49] bryceperkins commented on #27
Hey, I'm eager to help contribute features and improve my skill with rust. Let me know if there are any current project that need pushing forward.

username: bryceperkins

[2016-10-08 11:48] rednum opened #90 "bench_aligner_wc_global fails"
Running `cargo bench` runs some benchmarks and then fails with:

[code]

[2016-10-08 13:10] rednum opened #91 "Testing data in benches breaks vim"
Hi,

files from benches/ are not editable by vim. Apparently it can't handle the very long lines containing test data which results in very poor performance and constant freezes.

[2016-10-08 13:11] rednum commented on #91
I suggest fitting the test data in 80 columns: https://github.com/rust-bio/rust-bio/pull/92

[2016-10-18 10:45] johanneskoester commented on #91
Thanks, the PR is merged!

[2016-10-18 10:45] #91 closed

[2016-10-18 11:49] johanneskoester commented on #27
Welcome! You can have a look at issue #3. Personally, I am currently most interested in HMM support and implementing anything from this amazing book: http://www.genome-scale.info/. But we are open to anything related to bioinformatics.

[2016-10-19 12:13] dlaehnemann commented on #27
I'm new here, as well, thanks for adding me in!

I'll be using this as a way to get into Rust and will probably implement some rust-bio-tools.

Also, the book sounds quite comprehensive regarding HTS data, just ordered it. ;) Anybody interested in working through it together and implementing some data structures and algorithms along the way?

[2016-10-19 14:31] johanneskoester commented on #27
Glad to hear that. Indeed, Veli's book is an excellent read. If I had the time, I would go through it myself. Unfortunately I can't at the moment. But anything from it would be a perfect fit for Rust-Bio. Thinking about the current trends, the graph genome stuff would be most interesting of course.

[2016-10-19 15:53] Drin commented on #27
I would be interested in a regular web meeting of some sort. I have the
book,  but will be in Korea for another 3 and a half weeks.

On Oct 19, 2016 23:31, "Johannes Köster" <notifications@github.com> wrote:

[2016-10-20 08:44] dlaehnemann commented on #27
Cool, just let me know once you're back and ready to go. And once we decide on a web meeting / exchange format, we can post it here for further interested people to join.

[2016-11-01 10:03] veldsla opened #94 "Intervaltree panics on invalid range"
When a range end >= start it doesn't validate. Currently the library panics which is not good practice. If `validate` returns a `Result` type the also `find` and `insert` will return `Result`. Would you like a PR?

[2016-11-01 11:37] johanneskoester commented on #94
Hard to say. In a way, an invalid range is a programming error, not something that can occur from the data. So one could argue that a panic or better an assertion with a proper message is fine here. If people do their job right, why should we force them to deal with results all over the place. What do you think?

[2016-11-01 12:21] veldsla commented on #94
I guess for inserting the Result is to be expected. If the end-user wants to insert unvalidated entries from e.g. a bed-file he can just unwrap the result and at least his code will panic. For `find` we could also drop the validation call and empty or negative ranges just won't yield any results? This would be correct for empty ranges. I'm not sure why the negative size ranges exist at all.

In ad

[2016-11-02 10:38] johanneskoester commented on #94
You convinced me, insertion can return a Result. I would be happy to merge a PR!
Let's also return a result for find. I think your argument about the bed file applies here as well.
In any case, empty ranges should always be allowed and handled properly by the tree.

Great idea!

[2016-11-02 12:42] veldsla commented on #94
I checked Bioconductor's IRanges and they support 0-width ranges. They do not overlap any range (including another 0-width range with the same coordinates), but can be inserted, used for distance calculations and resized. I'll replicate this behaviour.

[2016-11-02 18:27] johanneskoester commented on #94
Perfect, thanks!

[2016-11-07 13:55] #94 closed

[2016-11-15 20:22] Drin commented on #27
@dlaehnemann I'm back home now, ready to go whenever!

[2016-11-15 20:36] natir commented on #3
Hello all,

Maybe I can work on Overlap/String Graph but what is the exact mind of this goal.

I think rewrite a graph API isn't good idea, crates [petgraph](https://crates.io/crates/petgraph) do the job.

So I can create Node, Edge struct and parser for each assembly graph format. I can begin this job with [GFA](https://github.com/GFA-spec/GFA-spec/) format. It's ok for all ?

[2016-11-15 21:26] johanneskoester commented on #3
@natir, that sounds perfect, thanks!

[2016-11-16 13:56] dlaehnemann commented on #27
@Drin Good to hear. Currently, I'm still waiting for my copy of the book -- it seems to have gotten lost on the way and I'll have to wait for another shipping. But I have gone ahead and created an Etherpad where we can coordinate our study group, thus other people who are interested can just head there and join in:
http://pad.learninglab.de/p/GSAD

Please feel free to extend that document, e.g. by

[2016-11-16 14:15] Drin commented on #27
We can go at whatever pace is reasonable for us. I'm in no rush, and have
plenty of other things competing for attention :)

On Nov 16, 2016 05:56, "David Laehnemann" <notifications@github.com> wrote:

[2016-11-18 13:36] veldsla opened #100 "IntervalTree trait bounds"
Currently `IntervalTree<N, D>` has `N: Debug + Num + Clone + Ord` and `D: Debug`. I wondered for some time why `Num`? Because we also require Ord only `Big(U)Int` is the additional type we now support. Why not just Ord?

By requiring the Debug trait on D we force the end-user to implement Debug on the payload, but we don't really need it (it is used in some of the asserts in the test suite). Shoul

[2016-11-23 21:05] johanneskoester commented on #100
Agreed, feel free to remove those bounds.

[2016-11-25 17:34] bpr commented on #27
I've been investigating kmer counting (over DNA nucleotides) and since I didn't notice anything in rust-bio I hacked up a kmer iterator over TextSlice and quickly wrote a naive counter. I'd be happy to give the code to rust-bio and work with others to get some Jellyfish-like parallel counter with lock free hash tables and the like.

[2016-11-25 21:55] johanneskoester commented on #27
Hi bpr. Glad to hear that! Feel free to submit a PR!

[2016-11-29 21:41] bryceperkins commented on #3
Hey all, I will be working on Rust implementation of the BCALM algorithm using these two repos as guidance:
https://github.com/rchikhi/python-bcalm
https://github.com/Malfoy/bcalm

For experienced rust users: Do you see any roadblocks or issues that I should watch for? Or do you have any tips or references that can help speed up this process?

[2016-11-30 10:01] johanneskoester commented on #3
Thanks @bryceperkins! The API is quite stable, and there are no major issues at the moment.

[2016-11-30 15:39] veldsla commented on #100
@rednum, any reason you chose `Num` ?

[2016-11-30 17:47] rednum commented on #100
Hi, thanks for pinging me. At first glance, it looks like this is redundant. I don't have much time this week, but I can try to take a look sometime over weekend or maybe next week. In the meantime, can you tell me what non-numeric types would you like to use?

[2016-12-13 10:31] veldsla commented on #100
Slow here as well. Not a specific reason to remove Num, but I don't think it adds much. By requiring Num we don't automatically get Add/Sub etc. and if we want to add methods that require numeric types (like flank, grow, resize) we can put the type restraints to those methods.

I have no example of non numeric types that span ranges. `char` maybe, or would newtype wrapped numeric types be an issue

[2016-12-23 15:34] #100 closed

[2017-02-24 21:37] txje commented on #30
Hi. I'm running into this problem again. It looks like the suggested changes were reverted on or about 2029e35 so that the BWT, Less, and Occ are all being taken by Deref + Clone. As described above, this is making it hard for me to encapsulate the FM-Index at all. Is there a workaround that I'm not aware of? I tried putting them each in an explicit Deref box, but Occ doesn't have clone implemente

[2017-02-28 07:51] johanneskoester commented on #30
Thanks for pointing this out. I have added an example to the master branch: https://github.com/rust-bio/rust-bio/blob/e7bcc72b63d431e01bcb47db53ef2808cb90dbfc/src/data_structures/fmindex.rs#L27

[2017-02-28 14:54] txje commented on #30
Thanks! There's a trick I didn't know about. Since multi-threaded querying of a shared FM-Index is a common operation, does it make sense/would it also work with Arc instead of Rc?

[2017-03-03 22:29] dtolnay opened #111 "Upgrade to Serde 0.9"
The latest version of Serde supports #[derive(Serialize, Deserialize)] on the stable Rust compiler. See [this manual page](https://serde.rs/codegen.html) for an explanation of the new approach.

The difference is essentially:

[code]

[2017-03-04 22:16] klangner commented on #27
Hi,
I would like to learn Rust by contributing to this project. I hope to get some tips during the code review :-)

But since I don't work in bioinformatics domain, may I ask if anybody is using this library for any work in this domain? If yes could you share which functionality and what is missing?

I saw that #3 contains list of requested features. Is it up to date? It was edited almost 2 years

[2017-03-06 08:22] johanneskoester commented on #27
Welcome @klangner! We are looking forward to your contributions. From the download numbers Rust-Bio is used for various projects, but it is hard to keep track, especially since many of them are presumably still unpublished. Of course, I know about my own stuff, which currently uses `fmindex` and `stats`. Then, there is @pmarks, who uses at least `alignment` with his company. The feature list is st

[2017-03-06 08:38] klangner commented on #27
Thanks,

I'm interested in HMM. I need this for my own work, which is related to sensors and hydrology.
And since this this library will be used for our company internal projects I would prefer to make it as separate more general library outside of rust-bio. I don't want to explain, to other people in my company,  why we need bio library to filter precipitation time series ;-)
But If you will be i

[2017-03-06 08:46] johanneskoester commented on #27
I am perfectly fine with a separate crate for HMMs. Once you have a repo, please let me know and I'll watch the progress. Once the basic functionality is there, we can see whether rust-bio needs integration or whether it should just be used as a separate crate. I think all kinds of HMM functionality is of importance in bioinformatics. But indeed, the most common use case is that the model is known

[2017-03-06 09:37] johanneskoester commented on #111
Thanks!

[2017-03-06 09:37] #111 closed

[2017-03-06 13:33] klangner commented on #27
Great :-)

I have created git repo for this project:
https://github.com/klangner/hmm

I will work there.

[2017-03-06 13:35] johanneskoester commented on #27
Great, I am really looking forward to this!

[2017-03-10 09:52] klangner opened #114 "Hidden Markov Model implementation"
I have created basic HMM implementation as a separate library:
https://crates.io/crates/hmm

Currently only Viterbi algorithm is implemented. This provides the possibility to estimate most probably hidden state transitions based on the observation.

If you are interested in this library, could you provide me same examples or test cases which will help me better prepare it for biology (DNA) domain?

[2017-03-10 10:12] johanneskoester commented on #114
One interesting special case in bio are pair HMMs: http://curtis.ml.cmu.edu/w/courses/index.php/Pair_HMM. They can be used for sequence alignment.

[2017-03-10 10:14] johanneskoester commented on #114
Another use case a profile HMMs, they are used for multiple sequence alignment:
https://www.google.nl/url?sa=t&rct=j&q=&esrc=s&source=web&cd=4&cad=rja&uact=8&ved=0ahUKEwjnzdnM2cvSAhULlxoKHSjzBjQQFggyMAM&url=http%3A%2F%2Fbioinformatics.oxfordjournals.org%2Fcontent%2F14%2F9%2F755.full.pdf%2Bhtml&usg=AFQjCNFyikRhCUeQz4NJkdNjbXEz98NLQQ

[2017-03-10 10:20] johanneskoester commented on #114
Normal HMM can be used to find so-called CpG islands. Those are regions in the genome where the sequence `CG` is enriched. In general a genome can be seen as a text over the alphabet `ACGT`.

Hence, an HMM to find CpG regions would consist of two parts. The first one models the normal text. In the simplest case, the transition probability between A,C,G and T is the same. The second part models a C

[2017-03-10 11:22] klangner commented on #114
Thanks!
I will also use this issue for some more resource related to HMM in bio:

  * [Hidden Markov Models for Gene Sequence Classification](https://arxiv.org/abs/1508.05367)
  * [HMM and their application to genome analysis book](http://supfam.mrc-lmb.cam.ac.uk/bioinformatics/people/julian_gough/thesis)

[2017-03-19 23:10] bow opened #115 "GTF parser breaks on GTF file from GENCODE"
Hello developers,

I was recently playing with the GTF parser in rust-bio and found that it doesn't seem to work in [a GTF file I recently downloaded](ftp://ftp.sanger.ac.uk/pub/gencode/Gencode_human/release_25/gencode.v25.annotation.gtf.gz) from [the GENCODE project](http://www.gencodegenes.org/releases/current.html).

Being the loosely defined file format that it is, I checked the GTF file itsel

[2017-03-20 12:59] natir commented on #115
Hi @bow,

Thanks for this very detail bug report.

1. I didn't see what is the trouble about comments, in [GTF explanation in gencode](http://www.gencodegenes.org/gencodeformat.html) I didn't find any mention about comment.

2. I reproduce your bug thank for code, and Yes maybe use csv::Reader isn't a good idea.

[2017-03-20 13:16] bow commented on #115
Hi @natir,

Thanks for confirming! For the comments, indeed it is not specified in the GENCODE GTF specs. They do have it in their GTF files (plus, I guess I'm too used to `#` being comment lines that I didn't realize they didn't mention it there).

Anyway, this is what happens when I parse the commented lines. The first 6 lines of the file is as below:

[code]

The iterator returns, 5 error objec

[2017-03-20 13:16] johanneskoester commented on #115
Thanks @bow. Should be fixed in PR #116. Please let me know what you think @natir @bow.

[2017-03-20 13:26] johanneskoester commented on #115
Comments are not straightforward with `csv::Reader` currently, see BurntSushi/rust-csv#46.

[2017-03-20 13:48] bow commented on #115
Hi @johanneskoester,

Thanks for the quick fix! This seems to be fine for my current use case :).

While reading the specs again, I also notice some other things, however:

1. The GTF specification (in GENCODE and [here](http://mblab.wustl.edu/GTF22.html#fields) at least) never mentions whether spaces are allowed or not in attributes (e.g. `key "value with spaces"`). Should the parser also handle

[2017-03-20 15:38] johanneskoester commented on #115
@bow:

1. For this, we should perhaps use [nom](https://docs.rs/nom).
2. Again, this could be solved by [nom](https://docs.rs/nom). Alternatively, we could of course strip comments from `raw_attributes`.

csv uses `Read` directly, hence we don't see the lines outside of it. Maybe using nom for the whole parser is what we should do in the end.

[2017-03-20 15:53] bow commented on #115
@johanneskoester: Hmm..ok then. I'm fine with the parser as it is for now. It doesn't panic on the GTF files that I see most often anymore. I can handle the comment parsing error on my own for the time being. But I won't say no to a more flexible parser of course.

In any case, thank you everyone!

[2017-03-23 14:35] m1guelpf commented on #27
Hi!

I've created a tool called [OrgManager](https://github.com/orgmanager/orgmanager) that allows you to generate links to join a Github organization!
(You may want to get more info at the [github repo](https://github.com/orgmanager/orgmanager) or [see it in action](https://orgmanager.miguelpiedrafita.com).)

Some organizations like [Open Source Design](https://github.com/opensourcedesign) are us

[2017-03-24 17:43] markschl opened #117 "Matching at beginning of text (Ukkonen)"
There seems to be some unexpected behaviour with `bio::pattern_matching::ukkonen`: if a hit is located at the beginning of the text, the calculated distance is not correct. I'm not at all familiar with the algorithm, but I suspect this is a bug.

[code]

Only the second example returns the expected hits given a maximum k of 1. As expected, changing max. k to 0 leads to no hit at all in the first e

[2017-03-28 22:23] mahdi-b opened #118 "Speed"
I am new to Rust and rust-bio.
Curious about IO speed, I did the quick test to see how long it would take to read a large fasta file (~30M reads). The code I used was the following:

[code]
It turns out the this code run approximately 3 times slower than the equivalent using BioPython. Is it the wrapping in Results and Option? Anything that I'm missing?

Thanks

[2017-03-29 02:33] mahdi-b commented on #118
Ah the shame of not knowing about --release. About 1 fold faster in Rust than in python.

[2017-03-29 02:33] #118 closed

[2017-03-29 09:23] johanneskoester opened #119 "Usage survey for grant application"
Dear @rust-bio/contributors, @MikkelSchubert, @mbrubeck, @veldsla, @bpr, @rednum, @natir, @flying-sheep, @althonos, @llogiq, @eclarke, @skade, @parir, @marcsch, @bow, @apirogov, @mahdi-b, @audy, @mariokostelac, @zitsen, @ghost,

I am currently writing a grant application for the **sustainable development of Rust-Bio**. For this, it is beneficial to name the research projects, tools or libraries, t

[2017-03-29 10:10] veldsla commented on #119
Does this include rust-htslib?

[2017-03-29 10:35] bow commented on #119
Hi @johanneskoester,

I'm writing a command line toolkit for various [tasks related to gene annotation formats](https://github.com/bow/gfxtools). I've also been looking into writing a library / module for working with BigWig files, but this is still very premature now. This is all done in the context of learning Rust as well :).

Good luck with the grant application!

[2017-03-29 10:42] johanneskoester commented on #119
@veldsla, good point! Indeed, this includes rust-htslib.

[2017-03-29 10:42] johanneskoester commented on #119
@bow, thanks!

[2017-03-29 11:06] marcsch commented on #119
I'm working on a command line toolkit as well, some kind of general purpose tool for sequence format conversion, searching, editing, renaming, sorting, filtering... It's not online, but I hope to find the time to improve and stabilize it, so it could (hopefully) be useful to others. It uses the sequence I/O and pattern matching APIs.
Good luck from me, too!

[2017-03-29 11:08] johanneskoester commented on #119
Thanks @marcsch!

[2017-03-29 11:20] veldsla commented on #119
A couple of unfinished and/or unpolished tools (all unpublished):
 - a set of tools for processing low coverage sequencing data for CNV detection (WIP)
 - a few tools for processing dropseq data (very much WIP)
 - porting some of our internally written perl programs to Rust (Bam file QC (including targeted sequencing stats, WIP), Barcoded screen readouts (todo)

I basically try to use Rust(-bio) f

[2017-03-29 11:25] johanneskoester commented on #119
@veldsla yes, I also think about this every now and then and I tend to agree. This will certainly be addressed. Thanks!

[2017-03-29 11:49] delehef commented on #119
I'm currently using it for a (to be published soon™) DNA duplication detection on genome-level.

[2017-03-29 11:57] natir commented on #119
I want convert some python script to analyse assembly graph in rust (and using rust-bio), but is still a project and no code is write.

[2017-03-29 12:09] johanneskoester commented on #119
Thanks @delehef and @natir. This is so kind, I am really thankful for your help!

[2017-03-29 12:13] johanneskoester commented on #117
Thanks for reporting! Looks like a bug, indeed. Due to the grant writing, I cannot look into this immediately. If I forget about it, please feel free to ping after next tuesday.

[2017-03-29 12:23] MikkelSchubert commented on #119
I am currently working on a handful of small tools for a study, with the goal of carrying out different types of scans for archaic introgression (e.g. R_D, fD, S*). I am using parts of the rust-bio::io module for this. While I do not currently use rust-htslib, I do expect to make use of it in the future, for different tools and projects.

[2017-03-29 14:44] johanneskoester commented on #119
Cool, thanks @MikkelSchubert!

[2017-03-29 17:53] johanneskoester commented on #119
@veldsla, @bow, @marsch, @delehef, @natir, @MikkelSchubert,
thanks again for your help so far! Since this is all unpublished work, I am afraid I have to ask for another favor. It would be most convincing to have a letter that confirms that you are either using Rust-Bio or intend to use it for these specific projects. I know your time will be as limited as mine, but two or three sentences would be

[2017-03-29 19:17] skade commented on #119
I'm not using it, as I only did some porting work, but is it okay if I pass this issue around?

[2017-03-29 19:19] johanneskoester commented on #119
Yes of course, thank you @skade!

[2017-03-29 21:02] skade commented on #119
Posted to [twitter](https://twitter.com/Argorak/status/847175549990682626) and [reddit](https://www.reddit.com/r/rust/comments/62945b/rustbio_is_surveying_their_usage_for_a_grant/).

[2017-03-29 21:12] johanneskoester commented on #119
Thanks!

[2017-03-29 23:22] jimrybarski commented on #119
I wrote a simple command line reverse complement tool - it was mostly just an exercise but I do use it occasionally in real work.

[2017-03-29 23:48] bow opened #122 "Strand enum"
Hello developers,

This isn't exactly but more of some questions regarding the [Strand enum](https://github.com/rust-bio/rust-bio/blob/master/src/io/mod.rs#L10).

1. Are there any reasons the `Copy` and `Clone` traits are not implemented for them? The enum seems light-weight enough that this wouldn't hurt :).

2. In the spirit of reducing possible redundancies, I was wondering why the `Strand::Unk

[2017-03-30 00:03] Manishearth commented on #119
cc @wafflespeanut

[2017-03-30 03:17] Wafflespeanut commented on #119
Hi! I'm a research programmer at [Genome](https://www.genome.com/). I wrote the backend engines for a ("yet-to-be-released") product. I've worked on validation and QC tools for BAM, FASTQ and VCF files, BWT-based custom alignment, species finding, etc, and I'm currently working on an exon prediction thingy. I think at some point of time, all these made use of rust-bio (and htslib) 😄

Then, I had t

[2017-03-30 03:41] dikaiosune commented on #119
In my previous job, I worked on a not-yet-published-or-open-sourced metagenomic binning tool with [Dr. Fofanov](http://nau.edu/SICCS/Faculty/Viacheslav-Fofanov/) at Northern Arizona University. It uses rust-bio for a number of tasks (although if I remember correctly I had a very slim fork for a couple of application-specific issues). I reached out and he said it's likely still on track for being p

[2017-03-30 06:56] johanneskoester commented on #122
1. no reason, see PR #123.
3. good idea, see PR #123.
2. Previously, I might have agreed (although the usage would become a bit more complicated with an additional layer). However, if you look at how I now implement PartialEq in PR #123, you see that two `Unknown`'s are no longer equal (which is reasonable because we don't know if they are equal). This is analog to `NaN` in floats.

[2017-03-30 07:00] johanneskoester commented on #119
Thanks @jimrybarski @Manishearth @Wafflespeanut @dikaiosune!
@Wafflespeanut of course we here at Rust-Bio would be very interested to see any optimizations in here as well.

[2017-03-30 10:02] bow commented on #122
Ah great, thanks for the explanation and the PR!

[2017-03-30 10:02] #122 closed

[2017-04-01 11:13] juleskers commented on #119
Dear Johannes,
No working products yet, but several colleagues of mine are eyeing rust-bio with interest.
Like @veldsla, we're intending to port "slow" perl/python scripts.

This is at the department of Theoretical Bioinformatics at the German Cancer Research Center (DKFZ Heidelberg).

[2017-04-01 11:23] johanneskoester commented on #119
@juleskers thanks for letting me know! May I ask for a letter of support with just a few sentences expressing you and your colleagues interest? Getting this grant will have a huge impact on the further development of Rust-Bio. You can contact me under johannes.koester@protonmail.com. I have to submit the grant next Tuesday.

Thank you so much in advance!

[2017-04-01 15:45] bpr commented on #119
Hi Johannes,
    I'm a systems programmer at DNAnexus, and we have a weekly event in
which engineering and science (ie, bioinformatics) work on side projects. I
used rust-bio to write some kmer analysis programs as part of one of these
projects.

On Sat, Apr 1, 2017 at 4:23 AM, Johannes Köster <notifications@github.com>
wrote:

[2017-04-01 16:37] johanneskoester commented on #119
@bpr, thanks for letting me know! That sounds like a cool event :-). I would greatly appreciate a letter of support. If you would like to do that, please contact me under johannes.koester@protonmail.com. Thank you so much!

[2017-04-01 17:35] juleskers commented on #119
I'll see what I can arrange on Monday.
Currently the interest is mostly "on the workflow", and our mother organisation is fairly conservative in putting its name on things.
I'll see if I can extend my evangelism to the higher-upso, who have slightly more leeway.

[2017-04-01 18:37] johanneskoester commented on #119
Thanks, I appreciate it!

[2017-04-03 14:01] juleskers commented on #119
Hi Again! Please check your inbox :slightly_smiling_face: :gift:

[2017-04-03 14:04] johanneskoester commented on #119
Thank you so much, @juleskers!

[2017-04-05 11:23] johanneskoester commented on #119
Thanks to all of you, especially for the nice letters of support! The grant application is submitted now.

[2017-04-05 11:23] #119 closed

[2017-04-30 16:56] dtolnay opened #130 "Drop rustc-serialize dependency"
It has been deprecated: [announcement](https://users.rust-lang.org/t/deprecation-of-rustc-serialize/10485?u=dtolnay).

Is there any functionality you would require from Serde or another library before this would be possible?

[2017-05-01 13:13] johanneskoester commented on #130
Yes, this is totally the plan. I simply want to wait for the csv crate (it as [almost migrated](https://github.com/BurntSushi/rust-csv/issues/29#issuecomment-296848620)), because we use its rustc-serialize support at the moment.

[2017-05-15 15:11] eclarke opened #131 "0.13 docs aren't available"
The latest version of the docs aren't available on docs.rs due to an error:
https://docs.rs/crate/bio/0.13.0/builds/49140

This looks like a bug in one of the nightly versions that prevented `nalgebra` from compiling. It works with the most recently nightly, so I don't think any code changes are needed- docs.rs just needs to be re-run.

Thanks again for such a useful tool!

Erik

[2017-05-15 15:14] johanneskoester commented on #131
Thanks! I have also seen it today. I will notify the docs.rs guys. It is a pity that they don't try to build of stable as well...

[2017-05-15 17:32] bow opened #132 "GFF parser updates"
Hello everyone,

This is issue is related to #115 and #128 as it concerns the GFF parser (I should ping @natir as the initial author and @johanneskoester). I have been spending some time with the GFF parser and I do have some questions and one concrete issue about it.

(I'd be happy to open PRs on any of these ~ just thought I should start here first :) ).

1. I was wondering if exposing the field

[2017-05-15 18:53] eclarke commented on #131
Great, looks like they're up now! I'm gonna close this issue then...

[2017-05-15 18:53] #131 closed

[2017-05-15 22:01] eclarke opened #133 "Fastq/Fasta Record constructors"
Related to issue #132, I think it would be useful to have public fields or more flexible constructors for the fastq and fasta Record types. Currently I don't see an ergonomic way to make new records programmatically (e.g. for a trivial fastq -> fasta parser, or unit testing).

I can work on this and submit a pull request if amenable.

[2017-05-16 06:48] johanneskoester commented on #133
The fasta/fastq records were so far meant only for reading. Both writers have methods to directly write entries with all possible arguments. However, I am nevertheless open for changing the API if you think it improves usability.

[2017-05-24 14:27] eclarke commented on #133
fixed in #135

[2017-05-24 14:27] #133 closed

[2017-06-04 02:35] RHagenson commented on #27
Thought I should do a quick introduction of myself somewhere and here seemed the best place.

### Name and education
The name is Ryan Hagenson and I will be defending my master's thesis in Biomedical Informatics in a little over one month. I currently hold a BS in Biochemistry and Molecular Biology where I did bioinformatics work with Perl, but mostly worked as a lab technician. For my Master's, I

[2017-06-05 14:05] johanneskoester commented on #27
Great, I am glad to have you joining the team @RHagenson! I am looking forward to your contributions!

[2017-06-05 17:42] RHagenson commented on #3
What are the thoughts on adding an AppVeyor build to check the library's build status on Windows systems? A template for doing this already exists at: https://github.com/japaric/trust This repo also includes a .travis.yml template for building on both Linux and MacOS, but that may muddy the waters on a TravisCI build failure being on Linux or MacOS.

[2017-06-06 21:56] johanneskoester commented on #132
I would think using the builder pattern would be the right thing to do here.

[2017-06-06 22:01] johanneskoester commented on #3
@RHagenson I don't think this is needed. Rust-Bio is pure Rust, hence it should work the same on all OSes.

[2017-06-06 23:57] RHagenson commented on #3
The wording there is what makes me want to add it whether it is necessary or not. The library "should" work the same no matter the OS, but having an extra badge tells potential users that, as far as we have tested, the library *does* work.

 I'll let you make the final call, Johannes. There are certainly other things for me to work on but I am willing to get AppVeyor builds going if it is desired.

[2017-06-07 07:22] johanneskoester commented on #3
So, if there is a difference, it would be a bug in Rust I think. I am hesitating to activate Windows builds, because, to be fair we would also have to activate osx builds. This is 3x the build load we have now, for almost no benefit, since it is very unlikely to be a difference. I am also thinking about handling natures resources responsibly here. What we could do is a weekly test of the master br

[2017-06-07 10:19] bow commented on #132
Hmm..that is also an option. It would mean there needs to be a builder struct, but then the validation can be handled at once by its `build()` method. `gff::Record`can then have a better representation of the GFF/GTF columns (e.g. `score()` doesn't have to parse<u64> every time it is called, we can store the underlying field as `Option<u64>` directly).

I proposed a `new()` method that accepts tup

[2017-06-07 13:46] bow commented on #132
Just to be more concrete with the code, I imagine the builder pattern that you suggested and what I outlined above would look something like this:

[code]

I'm not exactly sure what the error struct for the builder should be (`gff::Error`?), but I hope that is clear. The iterator structs would also be quite straightforward, I think, with the records iterator using the rows iterator under its hood

[2017-06-07 17:58] johanneskoester commented on #132
Can't we add the builder methods directly to Record? This way, we could avoid the build method. Maybe Row could be renamed into `RawRecord`?

[2017-06-07 19:02] sreenathkrishnan opened #138 "Changes to the pairwise alignment module"
Hello @johanneskoester ,

I am Sreenath, I recently started working with @pmarks at 10X Genomics. I have been looking at incorporating the following features into the alignment module within rust-bio

- implementing a "soft-clipping", where you are allowed to clip off the beginning/end of the read for a fixed clip penalty, specific to semi-global alignment.
- implementing a banded version of the p

[2017-06-07 21:54] RHagenson commented on #3
I can appreciate the conservative approach and it certainly is a bit excessive to launch three builds with each update to master. I am not sure how we would automate a weekly Windows build test though. Do you know of a way to do this? I am not seeing anything to space builds out by a week with AppVeyor.

[2017-06-07 22:58] bow commented on #132
`RawRecord` sounds like a good name, too. But for the builder..although technically possible, wouldn't having them in separate structs make the API easier to understand?

A builder, as I understand it, should give flexibility in struct creation and also validation of the struct's fields. Its `build()` method is essentially where all its action happens since it returns `Result<Record, Error>`. If w

[2017-06-08 14:53] bow commented on #132
I was curious to see how a builder would actually be implemented (and one thing lead to another), so I ended up with the changeset here: https://github.com/bow/rust-bio/commit/90035c8f74b24429f0777734db4cc84ebf987235. This should be everything I've mentioned above. I hope the commit message is quite clear ~ it's longer than what I usually write ;).

It's still missing some documentation, there sho

[2017-06-09 09:09] johanneskoester commented on #3
If it is not yet possible, we could ask for a weekly build feature. No need to rush,  windows builds can wait.

[2017-06-09 09:25] johanneskoester commented on #138
Hi, very interesting, thanks! I am not yet sure about the complexity effect of the suffix clipping. It looks like you need a max over all cells. How is that reflected in the proposed struct changes and what is the cost?

Regarding the interface, I think it should be kept the same as much as possible.

[2017-06-12 17:23] sreenathkrishnan commented on #138
Hi,
Thank you for the reply! About suffix clipping, that is a very good point. Although I have written it out such that we need max over all cells, this can be kept track of, as we are computing the score in each cell (with additional linear memory). The idea is that after the score in a cell is computed, we can jump from this cell to the cell in the last row/column paying the clipping penalty and

[2017-06-12 17:26] johanneskoester commented on #138
Perfect! Feel free to do that. I am looking forward to the results!

[2017-06-14 19:12] rhoark opened #139 "nalgebra dependency fails to compile"
The nalgebra crate version 0.10.1 that bio depends on doesn't compile in any of the several builds of rust I have from over the past year.

`error[E0391]: unsupported cyclic reference between types/traits detected
   --> /home/xxx/.cargo/registry/src/github.com-1ecc6299db9ec823/nalgebra-0.10.1/src/structs/dmatrix.rs:148:5`

The latest version on crates.io, 0.12.3, seems to work fine.
Please look i

[2017-06-23 07:03] johanneskoester commented on #139
Thanks! Although I am suprised because it always worked for me, also in the CI. However, I wanted to switch to ndarray for a while, and this has now happened with release 0.14.1.

[2017-06-23 07:03] #139 closed

[2017-07-06 20:58] johanneskoester commented on #132
Thanks! Sorry for the late reply. I am very busy with some deadlines right now, but I hope to come back to this soon. Looks promising indeed!

[2017-07-07 07:25] bow commented on #132
No worries @johanneskoester ~ I realize this changeset is quite big and require some consideration :).

[2017-07-27 22:00] ghuls commented on #3
[BioJulia](https://github.com/BioJulia/) project seems to have good ideas that could be copied.

Search for **BioJulia** on [https://julialang.org/blog/](https://julialang.org/blog/) for some interesting idea (like how to store FASTA sequences efficiently in memory).

BioJulia also has proper parsers for different bioinformatic formats which could be useful to look at (when reimplementing parsers

[2017-07-28 08:39] johanneskoester commented on #3
Thanks! This is certainly something to consider!

[2017-08-04 21:43] tschottdorf opened #141 "implement removal for IntervalTree"
I noticed that `IntervalTree` does not allow for the removal of elements. There shouldn't be a problem implementing that (it's an augmented AVL tree). Am I missing something or has it simply not been needed yet?

One interesting caveat is that one may have inserted multiple identical ranges (with different datums, or perhaps even identical ones). In that case, different users may want different be

[2017-08-07 11:40] johanneskoester commented on #141
Removal would indeed be fine, and we are open to pull requests! For the different behavior, we can probably handle that by several versions of the delete method.

[2017-08-20 00:04] wwood opened #143 "Deserializing FMIndexes"
Hi,

This question probably comes out of my ignorance of rust so I apologize, but hopefully it should be easy to answer. I've managed to serialize an FMIndex, but I'm having trouble deserializing them. I've tried a number of variants of the following, but to no avail. Is there an a simple solution?
[code]
The compiler error for this is `the trait 'std::clone::Clone' is not implemented for 'bio::da

[2017-09-04 21:39] johanneskoester commented on #143
Good question, so far I have never tried this myself. I would think that cloning of occ is not necessary, but adding a derive for that also won't hurt. @bow, you have more experience with serde. Any idea what is wrong here?

[2017-09-05 07:16] NoctuaNivalis commented on #143
Unless FMIndex requires the Clone for a reason currently not in the code, you can just remove it. All tests succeed after the patch below, and the line above should get closer to compiling.

[code]

[2017-09-05 08:25] johanneskoester commented on #132
I have thought a bit about it. Downside of the builder is that you need new allocations for each record. Further, it is not so intuitive. What about the following, general strategy for all record based file formats.

- we have a trait AbstractRecord that is accepted by the write method.
- we have a struct RecordView that is yielded by the iterators and accepted by read. This struct is lazy about t

[2017-09-05 23:12] bow commented on #143
Hi everyone,

The clone error is indeed caused by the FMIndex's type parameter trait boundary in [here](https://github.com/rust-bio/rust-bio/blob/master/src/data_structures/fmindex.rs#L162).
This isn't the only error I am getting when trying to deserialize an `FMIndex`, however.

I got something like this as well:

[code]

Is this also the case for you, @wwood?.

I'm guessing that the auto-derived

[2017-09-05 23:21] bow commented on #132
Aha, I am slightly familiar with the `RecordView` & fillable `Record` struct (I came across that in rust-htslib some weeks ago actually). Isn't this also what the `fasta` module already use?

I have to admit I've grown more used to the builders (maybe more than I should be), but the per-record allocation is indeed something quite unattractive.

I'll give this one more thought and play around with

[2017-09-06 13:09] wwood commented on #143
Ah OK. Yep, I've managed to deserialize by calculating them separately. Thanks for the help - please feel free to close this issue if that's best.

[2017-09-06 14:26] johanneskoester commented on #132
Great! Thanks for considering!

[2017-09-08 12:54] wwood opened #144 "invert_bwt giving incorrect results?"
Hi,
I came across a potential issue of invert_bwt giving incorrect results. I've made a repo at https://github.com/wwood/invert_bwt_issue to show it, but the gist is this
[code]
Which shows that the first 60bp of the text before and after the bwt are different:
[code]
Have I done something incorrectly here?
ta, ben

[2017-09-08 14:45] johanneskoester commented on #144
Your code looks ok. I must say I am suprised. It works in our test case...

[2017-09-09 13:35] wwood commented on #144
I think I've worked this out. With multiple sentinals, this line
[code]
can result in the wrong sentinal being chosen, and it fails from there. So, IIUC, the last character of the BWT must be the lowest lexigraphically otherwise inversion is unreliable for this reason. So the workaround is simple - add another character like (e.g. `#`) to the end of the input text. Perhaps it makes sense to null t

[2017-09-29 08:35] markschl opened #146 "Integer overflow with Myers bitparallel matching"
When trying to match patterns of ~20 bp against long sequences (~500 bp) I found that the [Myers algorithm](https://docs.rs/bio/0.14.2/bio/pattern_matching/myers/index.html) panicked. It seems that the combination of long patterns and long sequences leads to a panic even if the pattern is much shorter than 64 bp. Example:

[code]

Printing the contents of `state` shows the following:
[code]

I thu

[2017-09-29 10:40] johanneskoester commented on #146
Thanks for reporting! I have commited a fix. Please let me know if it works for you now.

[2017-09-29 10:40] #146 closed

[2017-09-29 12:39] markschl commented on #146
Thanks for your quick reply! I did some comparisons to Ukkonen pattern matching in order to have some idea about "correct" behaviour. There is a [Gist](https://gist.github.com/markschl/ec13fe9d418e4da3bdba2e84fdf4eb39) with some code to play with.

I'm quite sure that this fix actually introduced a bug, it should be `wrapping_add()` instead of `saturating_add()` (try changing in the above Gist).
A

[2017-09-29 12:46] johanneskoester commented on #146
Makes sense, thanks for testing! Sorry for the additional work, I should've done that myself.
Yes, #117 could be the cause of what you observe.

[2017-10-22 16:50] bow commented on #132
It's been a while, but I've finally got enough time to fiddle with this again. I was wondering if what you had in mind is something along these lines as well:

1. Because we are working with parsing results from the `csv` library now, the `RecordView` struct would probably be a tuple struct around the tuple returned by csv. It has either an `into_record` method that consumes itself to create a pro

[2017-10-27 12:22] #130 closed

[2017-11-07 17:23] johanneskoester commented on #132
1. I prefer attributes to return a separate object instead of using a refcell or something like that. This approach works very well in rust-htslib. All simple columns can be directly decoded into the RecordView via the CSV crate. This way, there is no extra allocation. I don't think we even need an into_record method.
2. Yes, read with RecordView
3. yes exactly.

Yes, before implementing anything

[2017-11-07 17:24] johanneskoester commented on #132
Sorry for the slow answer. I was very busy with the bioconda paper.

[2017-11-07 17:40] bow commented on #132
No worries. I haven't been the fastest to respond also. Ok then, this issue should indeed wait for the internal csv dependency update.

Congratulations on the paper by the way (also extended to other people on it who may stumble here) ~ fingers crossed for the peer-reviewed publication!

[2017-11-16 11:16] johanneskoester commented on #132
Wait, aren't we already using the latest csv?

[2017-11-16 12:56] bow commented on #132
Oh wait, yes! I missed the last update to the TOML file ~ I thought it was still at `0.15`. Anyway, good then ~ no other blocking issue it seems :).

[2017-11-28 07:38] johanneskoester commented on #144
There might be reasons for not wanting null as sentinel. I think I would like to leave the responsibility for this with the user. But the docs should mention this very clearly. I have modified them accordingly in the master branch.

[2017-11-28 07:38] #144 closed

[2017-11-28 07:43] johanneskoester commented on #114
Pair HMMs are now implemented in rust-bio.

[2017-12-06 17:41] khaledkee commented on #3
Hello All,

I'm going to implement HMM in Rust. So I thought of implementing it as part of Rust-Bio instead of separate project.

I'd to know about possible use cases of HMM in Rust-Bio (e.g. building profile-HMM, sequence search in multiple alignment, multiple-multiple alignments comparison, etc.).

[2017-12-22 22:31] bnbowman commented on #3
Has anyone written a Partial-Order Aligner in Rust?  I was thinking of trying my hand at it over the break, but I'd hate to duplicate effort if someone has already started

[2017-12-31 07:29] bnbowman commented on #3
In fact, I want a partial-order aligner so much I, err, already wrote one:
https://github.com/rust-bio/rust-bio/tree/partial-order-aligner

So I guess I volunteer for that?

[2017-12-31 07:41] bnbowman commented on #27
Hi, I'd like to join the team, to add some support for algorithms and tools for various long-read technologies (e.g. PacBio, Oxford Nanopore)

My name is Brett - I have a Master's in Bioinformatics and currently work for Pacific Biosciences developing new tools for medical diagnostics.  In fact I used I used to work with @pmarks before he left to join the Dark-side - anything I can claim to know a

[2017-12-31 07:54] bnbowman opened #157 "Partial-Order Alignments"
I'd like to create a tracking-issue for the branch I'm working on to add a partial-order aligner to the repetoire of alignment tools in rust-bio:
https://github.com/rust-bio/rust-bio/tree/partial-order-aligner

To make the code reach a sort of minimum viable product-level, it still needs:
* Convert main() and example4.fa to inline example code
* Add unit-tests
* Individual read-path tracking and m

[2018-01-02 01:23] nunesdaniel commented on #27
Hi, I would like to join and Contribute to it.

[2018-01-03 11:40] johanneskoester commented on #27
Hey @bnbowman and @nunesdaniel I am glad to welcome you in the team! @bnbowman I am also excited to see that a second company after 10x becomes interested in Rust-Bio! I am looking forward to work with the two of you!

[2018-01-03 11:46] johanneskoester commented on #157
This is great, thanks! The code looks already very clean! I will be able to make more specific comments on a pull request. Two general things for now:

1. Given that multiple sequence alignment can be solved by multiple heuristics, one of which is POA, I think it would be useful to also add a trait `MultipleSequenceAligner`, that is, for now, implemented by your POA. This way, the method to use ca

[2018-01-03 11:47] johanneskoester commented on #3
Great!!

[2018-01-03 12:38] #45 closed

[2018-01-03 12:41] johanneskoester commented on #115
Closing because the original issue has been fixed. Still plenty of stuff to address though (#132).

[2018-01-03 12:41] #115 closed

[2018-01-03 12:43] johanneskoester commented on #138
This has been implemented in PR #104.

[2018-01-03 12:43] #138 closed

[2018-01-07 16:53] bnbowman commented on #157
What functions should this trait encompass?  The obvious one is something like "Iter<Sequence> -> Iter<Sequence>" to effectively convert unaligned to aligned reads, but beyond that it's not clear to me what else would be generalizable.

Will do - already have the citations in.

As someone still learning Rust this isn't clear to me - could you point me to a specific example?

[2018-01-09 22:01] johanneskoester commented on #157
You are right, it is maybe too early to define such a trait. I thought about something with a method `add_sequence` that adds a sequence to a given alignment and `get_alignment` that returns a general representation of the alignment. But we can also do that at a later stage.

See [here](https://docs.rs/bio/0.16.0/bio/data_structures/qgram_index/struct.QGramIndex.html#method.matches) for an example

[2018-01-09 23:46] bnbowman commented on #157
Yea, probably worth a larger discussion elsewhere.  One of my concerns in general here is writing code that can be used for the sorts of projects that I and my colleagues face, without being so tightly bound such as to cause problems for other users.

To give a proximate example - it's incredibly common with long-read data to have reads with unalignable ends, i.e. "LQ" regions from PacBio and adap

[2018-01-10 09:53] johanneskoester commented on #157
Your junk problem sounds like the POA should optionally support some kind of clipping/free end gaps, right? This could simply be a bool flag I think. Alternatively, you can use the builder pattern. There are plans for keyword args in rust, but this might still take some time.

[2018-02-10 13:41] antonkulaga opened #161 "colored, compacted, de Bruijn graph"
It will be cool to have colored, compacted, de Bruijn graph like here https://github.com/COMBINE-lab/pufferfish

[2018-02-15 11:59] #117 closed

[2018-02-16 12:51] johanneskoester commented on #161
Absolutely! Contributions welcome.

[2018-02-23 03:36] pjedge commented on #157
Is there anything I can do to help? I'm working on a Rust project and POA is exactly what I need

[2018-02-23 08:37] johanneskoester commented on #157
@bnbowman how is the status? If you like, you can also create a PR into a branch of rust-bio, and then you could team up with @pjedge to finish the work.

[2018-03-05 19:27] pjedge commented on #157
I've been testing out the code with my own data and think I've encountered a bug. Using the latest commit, and using the main() function from the first commit to find a consensus from a fasta, I'm getting an infinite loop due to a cycle in the DAG. I've attached the sequences in fasta format and a picture of the DAG with the offending spots circled.
For the time being, I'm going to see if I can fi

[2018-03-07 21:30] pjedge commented on #157
Before continuing I want to say bnbowman has done great work and gotten a great start and framework for this algorithm! (I don't want my next observation to sound overly critical since I haven't contributed anything yet). But, I have another important point to note about the current implementation that should be considered before release -- currently the algorithm takes the consensus of the curren

[2018-03-31 03:14] mdtusz opened #163 "NonNaNFloat unusable with non nan floats"
I could be completely misunderstanding the proper usage of this struct, but should the if/else block bodies [not be reversed here](https://github.com/rust-bio/rust-bio/blob/master/src/utils/nonnanfloat.rs#L9-L14)? Any non-nan values will result in `None` which as far as I understand is the opposite of the desired use of this struct, no?

Quick fix that I'm happy to open the PR for though - just wa

[2018-03-31 17:26] johanneskoester commented on #163
Yes, you are right. A PR would be nice, although I think I'd rather like a PR that entirely removes the module. It is kind of orphaned, and there are better solutions like the [ordered-float](https://docs.rs/ordered-float/0.5.0/ordered_float/) crate. Thanks for making me aware for this again!

[2018-04-04 16:00] holtgrewe opened #164 "Example not working"
From https://rust-bio.github.io/

[code]

`cargo build` yields

[code]

[2018-04-05 14:20] holtgrewe opened #165 "Recommendations for a "genomic region" type?"
Hi, I'm looking for a type to store the triple `(chrom, begin, end)` and/or `(chrom tid, begin, end)` comfortably, including parsing, conversion to string with/without commas and in 0- and 1-based coordinates.

Is something like this included in rust-bio or rust-htslib?

I could not find anything.

[2018-04-09 19:34] johanneskoester commented on #165
There is no type yet for this. But I had plans to add such generic types, as a separate crate `bio-types`.
Maybe this is the right time to start with this, so I have worked a bit on it: https://github.com/rust-bio/rust-bio-types.

Please let me know what you think. The idea is that we gradually start to implement the provided traits and use the given types in rust-bio and rust-htslib as much as po

[2018-04-10 09:51] johanneskoester commented on #163
Fixed by removing.

[2018-04-10 09:51] #163 closed

[2018-04-11 23:17] jeff-k opened #167 "Matching at beginning of text (KMP)"
Hi, I encountered an issue in KMP similar to #117 and #146 which manifests when compiling outside of release with overflow detection.

When the pattern occurs at the start of the text `return Some(i - self.kmp.m + 1)` "overflows" before the compensating + 1 is added. I was able to work around this by changing the order of operations: `return Some(1 + i - self.kmp.m)`.

[2018-05-12 16:08] wizofe commented on #27
Hi, there! Currently pursuing a MSc. in Bioinformatics and I was also selected for the summer of code in [Redox OS](https://github.com/redox-os/redox). Very happy to add something if I can ^_^

[2018-05-13 11:42] wizofe commented on #3
@johanneskoester I just introduced myself here #27 :) Do you have any recommendations for a short and sweet project? That should take a day or couple, just to discover your code base and see what's going on!

[2018-05-23 18:09] pjedge commented on #157
I ended up making a rust FFI wrapper of the [SPOA](https://github.com/rvaser/spoa) library, and it has worked fine for my purposes. I am still interested in implementing this algorithm in rust but I'm not sure if/when I'll have the time.

[2018-05-29 09:59] johanneskoester commented on #157
@pjedge that is great news. I think it would be nice to have that as a crate, called `spoa-sys`. Would you like to contribute the bindings into `rust-bio/spoa-sys` or alternatively maintain the repo yourself?

[2018-05-29 19:08] pjedge commented on #157
I was thinking the same thing, that it would be nice to have as a crate. I would want to avoid having it too closely coupled to rust-bio, since the FFI situation from rust to C++ code is pretty hacky and I can see system-specific build issues coming up (seeing as I've encountered them myself). So I would probably maintain it as a separate repo.

[2018-05-30 06:51] johanneskoester commented on #157
Yes, it should definitely be a separate repo, and a separate crate (similar to rust-htslib). I just meant you might want to put it into the rust-bio organization here. This would make the community maintenance easier, because we already have a set of potential devs here. But that is up to you.

[2018-06-02 09:03] JonasZ95 opened #172 "RankSelect: check superblock min/max"
Right now this fails. Probably a check If j is smaller/larger than the first/last superblock should make this work.

[code]

[2018-06-04 07:32] johanneskoester commented on #172
Good catch! Thanks for reporting. This is fixed now.

[2018-06-04 07:32] #172 closed

[2018-06-05 16:03] JonasZ95 opened #173 "RankSelect: subtract with overflow for rank_x(7)"
https://github.com/rust-bio/rust-bio/blob/master/src/data_structures/rank_select.rs#L100
With j=7 `2<<j` becomes 0

[2018-06-06 11:44] #173 closed

[2018-06-06 19:29] JonasZ95 opened #174 "RankSelect: select_1 returns an incorrect value"
[code]

The problem seems to be here:
https://github.com/rust-bio/rust-bio/blob/master/src/data_structures/rank_select.rs#L159

[2018-06-07 17:47] johanneskoester commented on #174
Actually, the results are correct. I have extended the test a bit:

[code]

Nevertheless, I have found another minor issue unrelated to this, so there is a new point release.

[2018-06-07 17:47] #174 closed

[2018-07-03 02:00] rob-p commented on #161
I'd be really interested in this as well (perhaps for obvious reasons ;P).  Most of the stuff in the pufferfish index would be quite do-able (and I'd be interested in helping as an exercise in learning rust).  The one thing really standing in the way is, I think, a good MPHF implementation --- something of the scalability and performance of [BBHash](https://github.com/rizkg/BBHash).

[2018-07-03 07:48] natir commented on #161
you can found a rust implementation of bbhash her [boomphf](https://github.com/10XGenomics/rust-boomphf)

[2018-07-03 08:40] johanneskoester commented on #161
It would be great to have a competetive DBG implementation in Rust-Bio. Looks like we might reach a critical mass here. While I have no experience in implementing de Bruijn graphs myself, I would be happy to assist from the Rust point of view. Before looking further into this, I should however ping @pmarks who, as far as I remember, also had an implementation in the pipeline, right?

[2018-07-03 16:32] pmarks commented on #161
Yes -- we'd love figure out how to get broader usage and development of rust-debruijn: https://github.com/10XGenomics/rust-debruijn, and maybe bring it under the rust-bio umbrella.  rust-debruijn is a critical component of many 10x pipelines, so we intend to develop and maintain it for the forseeable future.  There's still many open design issues to make a single codebase flexible and performant f

[2018-07-03 21:10] rob-p commented on #161
Hi @pmarks : This looks great!  I think that the goals of building and indexing the dBG might reasonably be separated.  For example, we use TwoPaCo for reference compacted dBG construction, and then build a pufferfish index on the resulting graph.  Do you envision rust-debruijn covering all of these use-cases under a single library, or do you imagine that the construction and indexing structures e

[2018-07-13 16:30] pmarks commented on #161
@rob-p  - sorry, just getting back from vacation.
Absolutely building & indexing the dBG are separate concerns.  My hope is that everyone working on this in rust can evolve toward an interoperable set of types/traits/algorithms that can be easily mixed and matched, but are sufficiently flexible that new ideas can be tried without having to build everything from scratch.  Having indexing functional

[2018-07-20 23:43] jeff-k commented on #157
Hi, I'm interested in doing some experiments with partial order alignment and I'm a fan of the work that everyone has been doing on this project.

Like pjedge, I found some inconsistencies in the incorporation step that I think arise from aligning against the consensus string using a pairwise local aligner. I am both new to rust and this algorithm, so for my own education I implemented the algorit

[2018-07-24 20:54] jeff-k commented on #157
Since my last post I have added more useful features for incorporation, adding mismatches to new nodes and incrementing node weights. It's still rough around the edges but I was able to successfully use it to explore variants in the Hepatitis C E2 protein. This has improved my confidence in this implementation.
![less_conserved](https://user-images.githubusercontent.com/957090/43165496-e43f6aa0-8f

[2018-07-25 06:19] johanneskoester commented on #157
Great to see!! I am really looking forward to the PR! Whenever you feel like sharing, feel free to create it. I am happy to review.

[2018-08-16 00:11] jeff-k commented on #157
I have read some more of the POA papers and this one: https://doi.org/10.1093/bioinformatics/bth126 gives us a compelling argument to implement the aligner between two POA graphs, producing a POA graph.

POA is not associative; the order which sequences are added will produce different graphs (where the order of operations is the phylogeny.) To express the multiple sequence alignments in the above

[2018-08-16 12:03] brianjimenez commented on #27
Hi there! PhD in bioinformatics, mainly in structural biology, but with a strong background in research software engineering. I'd like to contribute to this wonderful initiative as I'm learning Rust and I know a little bit of structures and PDB format.

[2018-08-16 12:04] brianjimenez commented on #3
Hi! Just introduced myself in the separate thread, I'd like to know which are the plans to include PDB format parsing, especially for proteins.

[2018-08-22 18:10] kanishka-azimi commented on #3
Hi. I love dynamic programming algorithms, graph algorithms, and anything involving the concept of an approximation algorithm (TSP approximation). I have a few years of Haskell experience, but I have not touched Rust yet. I am kind of interested in working at the intersection of algorithms, Rust, and bioinformatics.

I also tend to enjoy short programming exercises like HackerRank or Codility, if

[2018-08-27 03:39] mys721tx opened #189 "Extending documentation for functions and enums."
Currently, the code examples in data_structures, io, pattern_matching are mainly placed on the module level. For individual functions, there are very few examples to show their usages. It would be nice to add examples to those function and also doubles as doctests.

[2018-08-27 05:35] johanneskoester commented on #189
I totally agree.

[2018-09-03 18:02] dineshadepu opened #191 "Tests fail by updating approx dependency"
Hi,

I updated both `ndarray` and `approx` crate to latest versions, but  `approx` crate to `0.3` is making two tests are fail.

1)
[code]

2)
[code]

[2018-09-05 12:42] johanneskoester commented on #3
@brianjimenez welcome! The plan is: if there is somebody who wants to do the work, we are happy to include it. In general the dev model is that things are added as needed and whenever a volunteer does the coding.
@kanishka-azimi welcome! In the current todos, there is no simple stuff left I am afraid. However, in general every single bioinformatics text-book algorithm is suitable for starting. My

[2018-09-05 12:48] johanneskoester commented on #27
Hi @brianjimenez and @wizofe! Sorry for the late reply, I have been on vacation. You should have invitations now.

[2018-09-05 12:55] johanneskoester commented on #157
Yes POA against POA makes certainly sense, although it will be computationally much more demanding. Hence, I think POA vs Text is what we definitely need first as a basis. Iterative approaches to MSA are common and used in practice as far as I know. Hence, although not optimal, it should be good as a start.

[2018-09-05 19:48] bnbowman commented on #157
computationally much more demanding.

Yea, this is why I originally did it that way.  I use POA alignments in my
day-job (from a terrible legacy C++ implementation I've slowly been
sanitizing over the years), and the marginal benefit of POA-to-POA
alignment in my experience are usually trivial, and comes at substantial
CPU cost.

I have no objection to adding that functionality - it definitely has

[2018-09-14 01:07] jeff-k commented on #157
- I was able to use some of the rust-bio-type structs that the other aligners use (MatchFunc, Scoring) and only have to use custom Alignment and TracebackCell structs because I needed to add some data to the AlignmentOperations. I'm sure there is better software engineering to avoid this duplication.
- I imagine the common use is iteratively adding to the `Aligner`'s internal graph. So a big devia

[2018-10-27 14:11] aleksijuvani commented on #141
Just chiming in to say that I was also sad to find this missing. Is anyone currently working on this? I'd be open to trying it myself, but I'm not too familiar with these data structures.

[2018-11-01 16:49] rednum commented on #141
As a person that originally contributed this data structure: I'm not actively working on it anymore but I could implement missing functionalities with relatively little effort. I could do this sometime around mid-November (when I'm back from vacation I've just started). I don't think code for this is very hard itself (AVL is very well documented data structure with many tutorials online) however a

[2018-11-01 18:15] aleksijuvani commented on #141
In my case I want to be able to delete elements by their interval, e.g. `tree.remove(5..10)` to remove all elements where the interval equals `5..10`.

For my use case the above would be sufficient, but generally speaking perhaps it would be more intuitive to remove all intervals that overlap with `5..10` instead of just those that test equal?

[2018-11-30 21:20] k3yavi commented on #27
Hey guys, was just browsing over the issues for using rust-bio with nightly and stumble upon this thread and just wanted to say Hi! I am a PhD student in Computer Science and have mainly worked before in C++ and python. I'd love to contribute but usually would be based on the requirement of the projects and the boss ;p.
Currently working with @rob-p and have gained some rust experience while inter

[2018-12-01 13:07] johanneskoester commented on #27
Welcome @k3yavi! Any kind of contribution is much appreciated! Glad to see Rust in bioinformatics getting more and more users. Greetings to Rob! We do not test systematically on nightly, but usually it is not more than a few adjustments away to get it to work. Feel free to file an issue, and I see how I can help.

[2018-12-02 20:15] k3yavi commented on #27
Thanks @johanneskoester , glad to be a part of the team. re: issues -- will do .

[2018-12-05 21:00] kanishka-azimi commented on #3
This is close to getting to the front of my attention now. I'm considering getting a study group/code sprint of people who are both interested in Rust and algorithms to take their first leap into some bioinformatics algorithms. I will let you know if that event materializes and whether rust-bio becomes the focus of that event. I would choose this project because my recent professional experience i

[2018-12-12 19:55] k3yavi opened #201 "set_cigar() for the bam record"
HI guys,
I am working on a mini-project which needs to edit the cigar_strings.
I was wondering is it a design limitation or an enforced restriction for not having a `set_cigar()` function in a bam record object [here](https://docs.rs/rust-htslib/0.17.0/rust_htslib/bam/record/struct.Record.html) ?

I am aware of the function `set()` but that seems to update four elements simultaneously.
Thanks agai

[2018-12-12 21:08] johanneskoester commented on #201
Not really a design limitation. As far as I remember, I had the impression that htslib only offers this way. However, if you find a neat way to only modify the cigar, that would be great.

[2018-12-12 21:10] k3yavi commented on #201
oh I should have raised this on rust_htslib, my bad. I'll try to make a PR to that repo, if end up in writing it, thanks @johanneskoester for the reply.

[2018-12-21 13:31] kanishka-azimi commented on #27
I have a lot of free time in December and early January if anybody here wants to join me in running a short hack night in the greater NYC area for rust-bio. People can email me at nish2575 at gmail, if they want to attend or help coordinate.

[2018-12-29 13:37] dlesl opened #203 "`shift_and` and `bndm` only work with patterns <= 63 symbols (cf. 64 in docs)"
With a 64-byte pattern `ShiftAnd::masks()` panics (multiplication overflow). After fixing that (by using `u128` for `bits`, probably not the most performant solution), `shift_and` supports 64-byte patterns, but `bndm` panics at `bndm.rs:74` ("attempt to shift left with overflow")

### Example
[code]

[2019-01-03 11:31] johanneskoester commented on #27
Welcome @kanishka-azimi!

[2019-01-03 13:11] johanneskoester commented on #203
Thanks for reporting!

[2019-02-14 16:36] magnusmanske opened #207 "GAF format: help!"
I have forked rust-bio to add support for [GAF format](https://geneontology.github.io/docs/go-annotation-file-gaf-format-21/). I have been using the GFF parser as a template. My first attempt is at:

https://github.com/magnusmanske/rust-bio/blob/gaf_file_support/src/io/gaf.rs

However, I get some error messages I can not understand (new-ish to Rust):
On [line 94](https://github.com/magnusmanske/ru

[2019-02-14 16:42] k3yavi commented on #207
One reason can be that the struct `Record` does not have the `Deserialize`  trait [here](https://github.com/magnusmanske/rust-bio/blob/gaf_file_support/src/io/gaf.rs#L123). Hopefully adding `#[derive(Serialize, Deserialize)]` would solve the issue.

[2019-02-15 09:36] magnusmanske commented on #207
I managed to fix the `str` errors, but three remain, all seemingly related to `serialize`/`next`:
[code]

I tried `#[derive(Serialize, Deserialize)]` but no joy. The actual Record [already has that](https://github.com/magnusmanske/rust-bio/blob/gaf_file_support/src/io/gaf.rs#L315).

[2019-02-15 10:33] magnusmanske commented on #207
Never mind, I figures it out. Apparently, there needs to be a function with the _exact_ same (de)serializer in `csv`, which is the case for GFF for some reason, but not GAF. However, there is one for `Vec<string>`, so using that instead compiles.

[2019-02-15 10:33] #207 closed

[2019-02-19 21:24] thomasmulvaney commented on #27
Hi, I'd be interested in implementing some functions for determining minimizers/supermers of sequences. Is this something that might be useful?

[2019-02-19 22:42] johanneskoester commented on #27
@thomasmulvaney absolutely! You should have an invitation to join the team now. Welcome!

[2019-03-11 13:18] thomasmulvaney opened #215 "Push method for RankSelect"
I've been toying with building a Wavelet tree for doing rank/select queries over arbitary alphabets. It seems like the RankSelect data structure would be a great choice for the underlying bitmaps.

Things would be easier if the RankSelect structure supported a push operation. Could this be added, or is it designed to be static (constructed from a BitVec and never modified)?

[2019-03-11 13:45] johanneskoester commented on #215
It was designed to be static, but I don't see a specific reason why it could not be added. Since the push won't affect what is left, it should be doable.

[2019-03-11 16:26] hobofan opened #216 "Hello World/MNIST of bioinformatics?"
Hey there! 😊  I hope this is an appropiate way of reaching out, as there doesn't seem to be any other communication channel of for the Rust+bioinformatics people, as far as I can tell.

I have a few years of experience in Software Engineering (applied, not studied) and am now starting to study for a Bachelors degree in Biochemistry in the upcoming semester, with the hope that I can combine those t

[2019-03-12 08:50] thomasmulvaney commented on #216
@hobofan I can't think of a good Hello World example, but [Rosalind](http://rosalind.info) is like Project Euler but for bioinformatics. Basically programming excercises which get progressively harder. If I remember rightly, they also explain some of the biology as you work through the problems.

[2019-03-12 13:19] thomasmulvaney commented on #215
Ok, it seems doable. I haven't dug into the implementation fully, but I noticed there are two superblock vectors: one for counting 1s and the other for counting 0s. Is this strictly needed? I think its possible to use just a single superblock that either counts ones or zeros.

[2019-03-12 15:00] johanneskoester commented on #215
Probably yes. Feel free to optimize it.

[2019-03-30 03:37] pjedge commented on #157
Hey, I published the crate rust-spoa that wraps the SPOA library (better late than never I suppose).
https://docs.rs/rust-spoa/0.1.0/rust_spoa
Please do try it out and let me know if there are any issues!

[2019-04-01 09:12] johanneskoester commented on #157
@jeff-k very nice work! Your thoughts sound reasonable. As I am not so much into your code, what about the following procedure. I merge your PR and then, you engineer any further changes as you feel it seems right and we review them as separate PRs.

[2019-04-05 07:39] thomasmulvaney commented on #215
Having started playing around this, I noticed the current RankSelect is broken when, `k`, the sampling rate is larger than 1.

I put together a rudimentary quickcheck test which currently just tests rank. However I know that there are issues with select as well.

I am yet to fix the issue, but the branch is here: https://github.com/rust-bio/rust-bio/compare/master...thomasmulvaney:rank-tests?expan

[2019-04-05 09:23] johanneskoester commented on #215
I have never used quickcheck, but from the readme, using the attribute seems like the preferred way for me: https://github.com/BurntSushi/quickcheck#the-quickcheck-attribute-requires-rust-130-or-later

Does that not work in this case?

[2019-04-05 16:11] RHagenson commented on #215
Saw a property test come across my feed today and thought I would share my two-cents as property testing is my preferred approach to testing (followed by table-driven tests of known corner cases).

I think using an attribute with `quickcheck` is far cleaner. Less thinking to unpack before one can understand/debug test failure in the future. As property testing does its best to fail through automat

[2019-04-05 16:18] luizirber commented on #215
I'll second @RHagenson and recommend proptest, it is closer to what `hypothesis` does in Python. I tried quickcheck on [nthash][nthash] and proptest in [ukhs][ukhs], and liked proptest more.

(I'm also not checking the files into VC)

[nthash]: https://github.com/luizirber/nthash/blob/ad2fddfcceb9be025adf29984d7d5fc2a3d8565b/tests/nthash.rs#L85

[ukhs]: https://github.com/luizirber/ukhs/blob/6d542

[2019-04-05 18:12] thomasmulvaney commented on #215
@RHagenson and @luizirber thanks for the suggestions.

I'll take a look at `proptest`. I don't have any preference yet, but I did think generative testing seemed like the perfect way to test something like RankSelect when I started noticing the weird results with `k > 1`.

There are of course a wealth of other Rank/Select datastructures out there that could be added to rust-bio, so I think getting

[2019-04-05 18:35] RHagenson commented on #215
Sounds good, @thomasmulvaney, if you get into the midst of adding generative tests I am willing to help. I do not feel like I can help further on the RankSelect `k > 1` case fix so I'll duck out of this conversation unless my help is called for. Best of luck figuring out what is going on with RankSelect!

[2019-04-11 00:50] roshni-b commented on #27
Hi everyone, I am interested in contributing too. Could I join the team? Thanks, - Roshni

[2019-04-11 10:26] Indy2222 commented on #27
Hi, I am a student in bioinformatics and an experienced software engineer. I have fallen in love with Rust recently so I would like to contribute to the project. I would love to join the project and help/implement some algorithms.

[2019-04-11 11:22] johanneskoester commented on #27
Awesome! Welcome @roshni-b and @Indy2222!

[2019-04-13 10:05] anders-was-here opened #220 "BED"
The doc string for the Records type seems odd for BED and GFF:

From:  https://docs.rs/bio/0.25.0/bio/io/bed/index.html

I guess following the pattern from FASTA and FastQ is better. 

[2019-04-13 10:06] anders-was-here opened #221 "Copy-paste error for Records doc string?"
The doc string for the Records type seems odd for BED and GFF:

From:  https://docs.rs/bio/0.25.0/bio/io/bed/index.html

I guess following the pattern from FASTA and FastQ is better. 

[2019-04-13 10:07] #220 closed

[2019-04-13 10:07] anders-was-here commented on #220
Sorry about the double post.

[2019-05-03 08:38] johanneskoester commented on #221
Yes, right. I'll try to keep this in mind, but if you like, a PR would be greatly appreciated.

[2019-05-10 14:51] thomasmulvaney opened #226 "RankeSelect: select_*(0) should always be None"
The `select(rank)` method of a RankSelect data structure returns the index which contains the element with a rank of `rank`.

For example, `bv = [0, 0, 1, 0]`:

The index of the 1st (rank 1) `0` is: `bv.select_0(1) => 0`.
The index of the 2nd (rank 2) `0` is: `bv.select_0(2) => 1`.
The index of the 3rd (rank 3) `0` is: `bv.select_0(3) => 3`.
The index of the 1st (rank 1) `1` is: `bv.select_1(1) =>

[2019-05-15 00:04] #226 closed

[2019-06-27 21:40] jimrybarski commented on #3
I am looking for something that calculates the molecular weight of nucleic acids and polypeptides, and there doesn't seem to be anything that does that on crates.io right now. Is that in scope for this library? I'd be happy to implement it if so.

[2019-06-28 06:46] johanneskoester commented on #3
Yes, absolutely!

[2019-07-18 14:31] poglesbyg commented on #27
Hi! I would love to join the project and contribute my effort!

[2019-07-19 07:52] johanneskoester commented on #27
Great, welcome!

[2019-08-12 23:35] jayrbolton opened #232 "GC content from fasta file"
Sorry for this very newbie question. I simply want to get the GC count from a fasta file. I have the below code:

[code]

Can someone help me fill in the blanks on line 10, where I put the comment? Thanks in advance. I can make a PR for a documentation example once I've got it.

[2019-08-13 00:07] dcroote commented on #232
The `bio::io::fasta::Reader` struct has a [`records` method](https://docs.rs/bio/0.28.2/bio/io/fasta/struct.Reader.html#methods) that returns an iterator. Therefore:

[code]

[2019-08-13 00:17] jayrbolton commented on #232
Ah. Thank you. I was misunderstanding what was meant by "records"

[2019-08-13 00:17] #232 closed

[2019-09-13 18:35] sjackman opened #234 "Aligner does not align the reverse complement? [question]"
Firstly, thank you for `rust-bio`! I'm a new user, and enjoying it.
I just want to confirm that `bio::alignment::pairwise::Aligner` does not also align the reverse complement. Is there an aligner in `rust-bio` that does? The workaround is straight forward enough of course: reverse complement one of the two sequences and repeat the alignment, and keep the one with the better alignment score. It see

[2019-09-19 15:29] MohinZikko commented on #27
Hello Guys; This is Zikko an aspiring bio-technologist, I'd like to help with bio knowledge.

[2019-10-04 23:17] k3yavi opened #236 "Single-Cell Data related functions."
Hi guys,

I was wondering if we plan to support various single-cell data analyses related packages within rust-bio or may be some sub-ecosystem ? As a starter, I've been writing very basic functions for parsing various matrix formats in single-cell world [here](https://github.com/COMBINE-lab/EDS). My motivation with this PR is to start the discussions to questions like how should we be storing, re

[2019-10-07 08:54] andy-thomason commented on #27
Hi everyone, I wrote a Boost library for genetics many moons ago (https://github.com/andy-thomason/genetics) and specialise in bioinformatics code optimisation. Happy to contribute.

[2019-10-08 09:58] johanneskoester commented on #236
Hi, this would all be very welcome. Since rust-bio is meant as a generic collection of algorithms, data structures and IO for bioinformatics, anything that fits into this schema is a welcome contribution.

[2019-10-08 09:59] johanneskoester commented on #234
Hi, indeed, it does not do that by default and your solution is what  we had in mind when designing the API. If you want to contribute a more streamlined alternative way of doing both, this would of course be very welcome.

[2019-10-08 10:00] #221 closed

[2019-10-08 10:02] johanneskoester commented on #216
So, having a rust option in Rosalind might be a good idea. Unfortunately, this is out of scope for rust-bio itself, but I think any effort for providing this would be  greatly appreciated by the entire community.

[2019-10-08 10:02] #216 closed

[2019-10-08 10:06] johanneskoester commented on #215
I have implemented a lot of bug fixes for RankSelect during the some. @thomasmulvaney can you check if `k > 1` is still an issue for you? We have a test case now that passes: https://github.com/rust-bio/rust-bio/blob/master/src/data_structures/rank_select.rs#L363

Nevertheless, proptest would be great and I look forward to a PR!

[2019-10-08 10:08] #201 closed

[2019-10-08 10:10] johanneskoester commented on #165
This is implemented now.

[2019-10-08 10:10] #165 closed

[2019-10-08 10:10] #164 closed

[2019-10-08 10:12] johanneskoester commented on #157
Since this is now in rust-bio, this can be closed.

[2019-10-08 10:12] #157 closed

[2019-10-08 10:13] #143 closed

[2019-10-08 10:15] #114 closed

[2019-10-08 10:41] johanneskoester commented on #90
This is now fixed.

[2019-10-08 10:41] #90 closed

[2019-10-08 10:44] johanneskoester commented on #69
We now have at least partial conversion to the newtype pattern.

[2019-10-08 10:44] #69 closed

[2019-10-08 11:23] thomasmulvaney commented on #215
Thanks, I'll rebase that branch later this week and see how it goes.

[2019-10-08 16:16] sjackman commented on #234
Okay. It's something that I'll work on right now, but I'll keep it in mind, the next time that I run into this issue.

[2019-10-14 20:28] luizirber opened #239 "Feature flags for controlling dependencies/functionality?"
Rust-bio works fine in wasm32 targets (both `-unknown-unknown` and `-wasi`). But it is easy to start having problems if more dependencies are added, and as the scope of the library increases.

@k3yavi opened an issue about adding [Single-Cell Data related functions](https://github.com/rust-bio/rust-bio/issues/236) and started implementing them in https://github.com/rust-bio/rust-bio/pull/238. Beca

[2019-10-14 20:31] mys721tx commented on #239
At some point it would be preferable to split this crate. Since a crate is the compelling unit in Rust, a large crate will also slow down compelling time.

[2019-10-31 11:56] mbhall88 opened #241 "fastq record display method adds extra newline"
The implementation of `fmt::Display` for `fastq::Record` does not use the getter methods for `seq` and `qual`
https://github.com/rust-bio/rust-bio/blob/a9a9c557c2f4c90d9d456896867eff80dc284db0/src/io/fastq.rs#L226-L237

As a result, this test case fails as `self.seq`, and `self.qual` have not had their trailing newlines trimmed (which is was `self.seq()` and `self.qual()` do).

[code]

Additionall

[2019-11-05 14:13] #241 closed

[2019-11-05 20:52] mbhall88 opened #243 "Implement fmt::Display for fasta::Record"
Similar to `fastq::Record` it would be very convenient to have a `fmt::Display` implemented for `fasta::Record`.

I will implement using a similar approach to `fastq::Record`
https://github.com/rust-bio/rust-bio/blob/e5233439df234fc687b0ea3ebd0454b008c38e0c/src/io/fastq.rs#L242-L256

[2019-11-05 20:54] mbhall88 commented on #27
Would love to join the team. Recently put in a PR to increase code cov and fix a bug in `bio::io::fastq` (#242 ). Am also working towards a fix for #243

[2019-11-11 13:26] thomasmulvaney commented on #215
@johanneskoester bit late but I've opened up #244 which addresses proptests. Good news is it looks like all the issues from the passed are gone.

[2019-11-13 14:01] orhanbalci commented on #27
Hi! Currently developing a crate to parse PDB files [here]( https://github.com/orhanbalci/rust-protein). I can contribute it if there is interest.

[2019-11-13 14:01] dongweigogo opened #246 "example of getting the consensus of multiple sequences?"
I have many similar sequences of different lengths and need to get the consensus of them.
From the docs, the poa module should work for this, but any example provided?

[2019-11-13 15:17] brianjimenez commented on #27
Just to build on top of the PDB parser, feel free to reuse any code from [this](https://github.com/brianjimenez/rust-pdb) in your parser @orhanbalci .

[2019-11-28 09:31] dlaehnemann commented on #27
@orhanbalci This sounds like a perfect contribution to rust-bio, and checkoing out @brianjimenez previous efforts sounds useful. In any case, welcome to the team!

[2019-11-28 09:36] dlaehnemann commented on #27
And also a welcome to @andy-thomason and @mbhall88 !

[2019-11-28 10:56] mbhall88 commented on #246
I believe @jeff-k implemented POA.

I don't seem to see anything in the docs showing how to do this. @jeff-k is this possible? If so, would you be able to add an example?

[2019-11-28 11:08] #243 closed

[2019-11-28 11:17] mbhall88 opened #249 "Fastq parsing does not conform to specs"
Our current implementation of fastq parsing does not strictly handle all [valid forms of fastq](https://academic.oup.com/nar/article/38/6/1767/3112533). In particular, we do not handle when sequence/quality lines are wrapped.
A simple, failing test case to illustrate

[code]

This test fails with the following.

[code]

As an aside, it would also be worth discussing whether my "expected" `Record`

[2019-11-28 11:35] dlaehnemann commented on #249
Thanks for the flurry of activity!

This sounds like something that might be discussed in connection with the ideas or a unified FASTA/Q reader suggested by @luizirber over in PR #222 . Maybe this can also revive the discussion over there...

But more test cases and handling more possible valid FASTQ types also sounds like an important goal in itself. So if you have good suggestions, feel free to

[2019-11-28 14:06] jeff-k commented on #246
Have you got an example of the output you're interested in?

[2019-11-28 15:32] andy-thomason commented on #27
Thanks, all.

[2019-11-28 15:36] andy-thomason commented on #27
Just to introduce what we do. At Genomics we mostly work with GWAS summary stats and very rarely on genotype data as privacy makes this hard to deal with. Internally we use Apache Arrow data but collect data in CSV form from all over the globe.

[2019-11-28 15:45] andy-thomason commented on #27
The stuff that is dear to us is multi-population LD, Baysian Inference, Clustering and most of what Plink and friends do but a little more efficient. A Plink-like service with a few orders of magnitude performance improvement would be a good thing to get one's teeth into, for example.

[2019-11-30 10:12] dongweigogo commented on #246
A very simple example as below:
"AAAATTTT"
"GGGAAAAT"
"ATTTTCCC"
And what I want is:
seq1: 　　AAAATTTT
seq2: GGGAAAAT
seq3: 　　　　ATTTTCCC

cons: GGGAAAATTTTCCC

[2019-12-01 19:13] jeff-k commented on #246
Are you interested in cases where there is a disagreement between your sequences? In general, the POA would be used when you don't want to create a consensus sequence.

So if you had:
[code]
it would give you:
[code]
...that is if I had implemented semi-global alignment.

If your sequences agree with each other you should be able to assemble them much more efficiently with a trie or hash based sea

[2019-12-02 11:30] dongweigogo commented on #246
Actually, most of them are identical, and just a few with variant bases. Thus I need to consider the disagreement.

[2019-12-23 04:02] wwood opened #251 "GFF parser: directives e.g. ##FASTA"
Hi,

I'm looking to parse GFF3 format fasta files, specifically to extract the genomic fasta sequence, which are after the `##FASTA` line. Here's an example gff file that has that in it:
https://www.ebi.ac.uk/metagenomics/api/v1/genomes/MGYG-HGUT-02603/downloads/MGYG-HGUT-02603.gff

Is there any way to extract those data through the rust-bio API? If so I might try helping implement one - any parti

[2020-01-01 07:51] fwip commented on #249
For a datapoint of 1, I've been looking into rewriting a couple of our python scripts into rust. The two main ones I am planning on using only interact with the fastq headers - demultiplexing by barcode, and rewriting the header line to include a unique molecular identifier in the comment field.

Our Fastq files do not have any line-wrapping though, as they're straight off the sequencer.

[2020-01-13 16:32] mbhall88 commented on #249
@fwip you are right, most fastq files do not wrap sequence or quality lines.

But it is valid to have them wrapped. As this library is a toolkit for bio-related fields to use we should be able to handle all forms regardless of how rare they might be.

Are there any objections to me proceeding to implement a fix for the failing test above (and others I have locally)?

[2020-01-14 14:36] caioraposo commented on #27
Hello, I would like to contribute to the project!

[2020-01-16 20:25] Emiller88 commented on #27
Hello all!

I'd love to get involved here.

[2020-01-23 08:16] mictadlo opened #252 "changing IDs in a GFF3"
Hi,
Do you have any examples of how to change IDs in a GFF3 file?

Thank you in advance,

Michal

[2020-01-30 13:58] dlaehnemann commented on #249
No objections for implementing a fix from my side. Two cases you should probably include in the tests are when the quality score line starts with a `+` or with an `@`, as this might mess up the parsing logic once you abandon fixed numbers of lines per fastq record...

[2020-02-12 12:07] johanneskoester opened #254 "Parental leave until end of February, please be patient :-)."
Hi folks, I am on parental leave until end of February.
Hence, I won't have the chance to look into your bug reports and PRs until then.

Of course, you are all invited to do mutual reviews :-)!

Thanks a lot for your patience.
Johannes

[2020-02-12 17:21] mbhall88 commented on #254
Congratulations Johannes :tada:  Enjoy your time with your newborn.

Also, for your future reference, [GitHub user statuses](https://help.github.com/en/github/setting-up-and-managing-your-github-profile/personalizing-your-profile#setting-a-status) are super handy for letting people know you are away.

Have fun!

[2020-02-26 20:55] amsesk commented on #27
Hey everyone, I'd like to get involved! Relatively new to rust, but a grad student who uses bioinformatics daily. Is the todo list still current? I see the last update is not that recent. Still thinking about what I want to add, but would love to know more about current priorities.

[2020-02-27 13:53] TianyiShi2001 commented on #27
Hi, I’m Tianyi, an undergraduate student studying Biochemistry at University of Oxford. I knew quite a bit about BioPython (and is a contributor thereof). I really like the way BioPython is organised (ease of contribution and good documentation for users and developers) and I want to bring the positives of BioPython into Rust-Bio. It would be nice if we could discuss the goals we want to achieve,

[2020-02-28 20:24] TianyiShi2001 commented on #3
Hi @brianjimenez , I am also highly interested in implementing a PDB parser! It would be nice if we can cooperatively make and publish it. I'm confident that the Rust PDB parser will be faster than its [Python counterpart](https://academic.oup.com/bioinformatics/article/19/17/2308/205793) published in 2003.

[2020-03-03 18:30] martonlanga commented on #252
Hey @mictadlo, do you still need help with this?

[2020-03-06 08:58] johanneskoester commented on #27
Welcome all of you! You should've invitations now. We are all looking forward to your awesome contributions!

[2020-03-06 09:21] esteinig commented on #27
I'd love to get involved, `Rust` has been a great tool for our nanopore bioinformatics, and I can contribute a couple of smallish thing (biologist by training so not deeply familiar with everything yet)

[2020-03-06 13:47] dlaehnemann commented on #27
@esteinig , you should have an invitiation. And no worries about the level of contributions, I'm also a biologist by training and just contribute and review whatever I can. Anything from documentation improvements and bug fixes to implementing new features helps. And Rust is very well documented and reviews in `rust-bio` usually work very well.

[2020-03-10 11:10] natir opened #258 "Allow user to set the buffer size in fasta, fastq and fastx parser"
Hello,

In `fasta`, `fastq` and `fastx` reader, `new` method require an `std::io::Read` and wrapped it in an `std::io::BufReader`, it's good and very important for performance. But with actual code user isn't allowed to control the size of Buffer.

To solve this issue we can:
- accept a `std::io::BufRead` instead `std::io::Read`
- accept another parameter to let the user set the size of the buffer

[2020-03-11 11:24] mbhall88 commented on #258
I think before we go down that road it would be useful to see some kind of benchmark showing that allowing the user to control the buffer actually leads to increased performance in certain circumstances.

[2020-03-11 14:35] natir commented on #258
I can produce this for different storage configuration (network storage, SSD, HDD) and fasta type (short/long reads, reference genome).

[2020-03-11 16:49] natir commented on #258
# Method

Test are made only with fasta parser. I use [my little bit too old fork of rust-bio](https://github.com/natir/rust-bio), but no important change is made in fasta parser between [my fork and now](https://github.com/natir/rust-bio/compare/master...rust-bio:master).

I use Criterion to perform this benchmark, [benchmarked function](https://github.com/natir/fast_bench/blob/rust_bio_cache_siz

[2020-03-12 08:18] orhanbalci opened #259 "Type safe symbols and alphabets"
Hi all;
I was looking for a way to represent three letter amino acid symbols and alphabet in a type safe manner not just strings. Specifically I want to know if a three letter abbreviation is a valid aa. If it is i would convert it into a typed aa instance.  But current alphabet implementation is biased towards single letter symbols. I think a separate module for typed symbols would be nice. We ca

[2020-03-13 21:35] natir commented on #258
I think my previous comment proved that the default buffer size is not the optimal size for a number of cases.

In the fork used for this benchmark I have created an alternative constructor, this seems to me to be a good solution, perhaps with a different name. Do you have any alternative solution/implementation?

[2020-03-15 14:05] mbhall88 commented on #258
Thanks for this thorough information. It is really interesting. I think an alternate constructor makes sense. We should also make sure to refer to your benchmark in the docs so that people can make an informed decision about the buffer size if they want to change it.

[2020-03-15 14:07] mbhall88 commented on #249
Reopening until #255 is "unreverted" as @johanneskoester has reverted #255 with #260 .

[2020-03-17 19:07] natir commented on #258
I started writing a pull request to just add a new builder.

But I saw that the solution couldn't be used if the user wants to create a reader from a path (with `from_file` constructor).

Wouldn't creating a ReaderBuilder be more suitable?

[2020-04-24 08:02] andy-thomason commented on #27
For anyone interested, I'm building a safe extension mechanism for the R programming language here: https://github.com/extendr/rapi

A priority should be a Rust-bio wrapper for R.

If anyone would like to contribute, we can have a discussion about design goals and objectives.
Raise an issue for rust-bio.

Look forward to hearing from you.

My own interest lies in variant analysis - GWAS, eQTL, pQT

[2020-04-28 06:35] orhanbalci commented on #27
I released first version of PDB parser.  Right now it is able to parse only header section records. Feel free to try and comment on the project.

[2020-05-23 05:32] mbhall88 commented on #249
As mentioned in Heng Li's [biofast](https://github.com/lh3/biofast) repo, our parser is still only a basic 4-line only parser. Any interested in re-merging #255 ?

[2020-05-25 10:19] dlaehnemann commented on #249
Ah, I think I understand this mixup now and I think it is partly my fault. I read @mbhall88's comment over on @luizirber's PR on general fastx parsing (see [here for the comment](https://github.com/rust-bio/rust-bio/pull/222#issuecomment-596074611)) in my eMail inbox and attributed it to this recently merged pull request. I passed that (false) info on to @johanneskoester who reverted this. So @joh

[2020-05-25 10:43] johanneskoester commented on #249
Aye, revert is reverted in commit 64a41845.

[2020-05-25 10:43] #249 closed

[2020-05-26 00:55] mbhall88 commented on #249
Great. Once it is all merged and released I will also update on biofast and get Heng to update the parser tag as wrapped-line-capable.

Thank you!

[2020-05-27 05:52] Daniel-Liu-c0deb0t commented on #27
Hey, can I join the team? I am working on a crate for accelerating edit distance calculations using SIMD, and I am hoping that those edit distance functions may be useful in this library.

[2020-06-09 22:50] Daniel-Liu-c0deb0t opened #268 "Integrating SIMD-accelerated edit distance functions into Rust-bio"
Hello everyone,

I have been working on a library with many different edit distance routines that use SIMD when possible to boost the speed of calculating edit distances on both long and short strings. (The library is available [here](https://crates.io/crates/triple_accel/).) I think that exposing certain functions from the library in Rust-bio would be very beneficial for the end-user, since the A

[2020-06-14 01:29] huangjj27 commented on #3
I'm wondering If [rust-overlaps](https://github.com/sirkibsirkib/rust-overlaps) could be a reference for overlaps task?

[2020-06-14 15:03] dlaehnemann commented on #268
Sounds like very interesting functionality!

Most of it should fit in well in the `bio::alignment::distance`` submodule:
https://docs.rs/bio/0.31.0/bio/alignment/distance/index.html

You might also want to have a look at the `bio::alignment::pairwise` submodule (including the banded alignment):
https://docs.rs/bio/0.31.0/bio/alignment/pairwise/index.html

In general, I would think that a pull requ

[2020-06-14 22:41] Daniel-Liu-c0deb0t commented on #268
I think I will try to work on the `bio::alignment::distance` submodule first, and then add SIMD alignment routines later because they are more complex.

[2020-06-15 10:25] johanneskoester commented on #268
@Daniel-Liu-c0deb0t this sounds all great. Indeed, let us start with the distance case and then proceed with the rest. Having stuff in separate simd modules sounds good to me.

[2020-06-15 10:27] johanneskoester commented on #268
Indeed, negative scoring for gaps and mismatches is nice to have because of being textbook compliant. If it is possible to emulate alignment with positive costs only (I have never thought about that), you could also provide an adapter that converts the costs or so.

[2020-06-15 22:41] Daniel-Liu-c0deb0t opened #270 "Pattern matching benchmarks warning with current usage of `collect`"
The compiler gives a warning for the current usage of `collect` to exhaust the iterators returned by pattern matching functions in order to benchmark them. This could be problematic because the compiler might be able to optimize away the function call, as the iterator is not used at all. There are three relatively easy choices to fix this:

1. Return the collected vectors from the benchmark closur

[2020-06-21 11:36] huangjj27 opened #271 "Any idea about MPI support for super computers?"
While there are many super computers to rent, I think support for MPI will be a good way to improve performances.

[2020-06-22 12:06] #254 closed

[2020-06-27 05:43] TomKellyGenetics commented on #27
Hi, I'd like to join. I'm currently working on single-cell technologies at RIKEN, Yokohama, Japan.

Thanks,
[Tom Kelly](https://orcid.org/0000-0003-3904-6690)

[2020-06-27 13:17] Keverne commented on #27
Hi all, I'd love to get involved. I'm currently working on molecular recognition, and some of these tools would be useful to my modelling work.

Many thanks,
Keverne

[2020-06-28 09:37] TomKellyGenetics commented on #236
Is this still under development? In my experience, the "MTX" format is most common for importing processed single-cell data. I would prioritise this if supporting multiple formats is time-consuming.

For R, Seurat supports [MTX](https://rdrr.io/github/satijalab/seurat/man/Read10X.html) and [h5](https://rdrr.io/github/satijalab/seurat/man/Read10X_h5.html) formats. Similarly in Python, scanpy suppor

[2020-06-29 08:35] dlaehnemann commented on #27
Hi @TomKellyGenetics and @Keverne ,

welcome to `rust-bio`, you should both have an invitation to the `Contributors` team of the organisation. This should also give you write access to `rust-htslib`, `rust-bio-tools` and `rust-bio-types`. So contribute away! ;)

[2020-06-29 08:39] dlaehnemann commented on #236
@TomKellyGenetics I think that the actual work is happening over at PR #238, but it's definitely a good idea to revive the discussion, as well. Seeing that these datasets are often huge, there's definitely a place for using Rust!

[2020-06-29 08:45] Keverne opened #275 "PDB to sequence within platform?"
Hi all,

I know there are several independent platforms that provide the means for a PDB to be converted to a sequence, but I'm thinking it would be a good idea to be able to do it within `rust-bio`. The output would be ready to use with the other tools, which would be quite convenient.

Let me know what you think!
Kev

[2020-06-29 12:20] tedil opened #276 "rust-bio docathon 2020"
To improve the usability of rust-bio and speed up development based on the library, we'll host a docathon next **Tuesday, July 7th 2020**. We'll be **starting at 10am German time (UTC+02:00)** and will be online until 6pm, but feel free to join at any time during the day -- and if someone wants to carry on later in the day (or across into another time zone): the more docs, the better!

For any que

[2020-06-29 12:25] dlaehnemann commented on #275
@k3yavi I just remembered, that @brianjimenez [previously asked about PDB support](https://github.com/rust-bio/rust-bio/issues/3#issuecomment-413522503) and most recently posted about it [here](https://github.com/rust-bio/rust-bio/issues/3#issuecomment-418771791), so I figured I'd cross-link this here. His previous efforts are here:
https://github.com/brianjimenez/rust-pdb

[2020-06-29 12:34] brianjimenez commented on #275
Since my post some time ago, I've been working on a macromolecular docking protocol in Rust (https://github.com/lightdock/lightdock-rust). I was planning to use and extend my previous effort for PDB parsing (https://github.com/brianjimenez/rust-pdb), but since it was a very rookie code and there is an amazing crate for doing it out there, I decided to switch. Please, have a look at lib3dmol (https

[2020-06-29 18:19] k3yavi commented on #236
Thanks @TomKellyGenetics @dlaehnemann for reviving the thread. I've ported most of the things into the PR made earlier, however there still needs to be some work done at unit tests and documentation level. I got busy with the graduation and move to a new lab, may be I'll pull that off in the docathon.
Some decisions still needs to be made for example https://github.com/rust-bio/rust-bio/issues/239

[2020-06-30 01:44] TomKellyGenetics commented on #236
Thanks for directing me to the PR. Good to see progress being made on this. Single-cell biology is a huge field at the moment so above I'm mainly asking for clarification on your intentions.

Supporting h5 as well would be nice but agree that MTX would suffice to get started with single-cells. Most single-cell data processing pipelines return a sparse matrix like this I think. The main benefit for

[2020-06-30 01:58] dcroote commented on #27
Hi, inspired by #276, I'd like to join as well. I've previously submitted a couple of simple PRs (#205, #262) that add additional unit tests.
Cheers,
Derek

[2020-06-30 07:11] dlaehnemann commented on #27
Welcome @dcroote and thanks already for your contributions! If you can find some time, see you next Tuesday at #276 ! :D

[2020-07-06 12:16] tedil opened #278 "`lib.rs`"
* [ ] update list of functionalities in `lib.rs`
* [ ] include link to contribution section of `README.md` in `rust-bio` GitHub repo
* [ ] update `lib.rs` docs as a good entry-point to the rendered docs

[2020-07-06 12:16] dlaehnemann opened #279 "improve docs: `alignments::poa`"
* [ ] describe time and/or memory complexity

[2020-07-06 12:17] tedil opened #280 "Improve docs: `utils::interval`"
- [x] add at least one example

[2020-07-06 12:17] dlaehnemann opened #281 "improve docs: `alphabets::*`"
* [x] describe time and/or memory complexity

[2020-07-06 12:17] tedil opened #282 "Improve docs: `stats::probs::cdf`"
* [x] add at least one example
* [ ] describe time and/or memory complexity

[2020-07-06 12:17] dlaehnemann opened #283 "improve docs: `data_structures::annot_map`"
* [ ] add at least one example
* [ ] describe time and/or memory complexity

[2020-07-06 12:17] tedil opened #284 "Improve docs: `stats::pairhmm`"
* [x] add at least one example
* [x] describe time and/or memory complexity

[2020-07-06 12:18] dlaehnemann opened #285 "improve docs: `data_structures::bitenc`"
* [x] describe time and/or memory complexity

[2020-07-06 12:18] tedil opened #286 "Improve docs: `stats::combinatorics`"
* [x] add at least one example
* [x] describe time and/or memory complexity

[2020-07-06 12:18] tedil opened #287 "Improve docs: `stats::bayesian::model`"
* [ ] add at least one example
* [ ] describe time and/or memory complexity

[2020-07-06 12:18] dlaehnemann opened #288 "improve docs: `data_structures::bit_tree`"
* [ ] describe time and/or memory complexity

[2020-07-06 12:18] tedil opened #289 "Improve docs: `stats::bayesian::mod`"
* [ ] add at least one example

[2020-07-06 12:18] tedil opened #290 "Improve docs: `stats::bayesian::bayes_factor`"
* [ ] add at least one example

[2020-07-06 12:18] tedil opened #291 "Improve docs: `seq_analysis::orf`"
* [ ] clearly mention that it is for "open reading frames" (ORF), i.e. improve description

[2020-07-06 12:18] dlaehnemann opened #292 "improve docs: `data_structures::interpolation_table`"
* [ ] add at least one example
* [ ] describe time and/or memory complexity

[2020-07-06 12:19] tedil opened #293 "Improve docs: `seq_analysis::gc`"
* [ ] add at least one example
* [ ] describe time and/or memory complexity

[2020-07-06 12:19] dlaehnemann opened #294 "improve docs: `data_structures::smallints`"
* [ ] describe time and/or memory complexity

[2020-07-06 12:19] tedil opened #295 "Improve docs: `io::fasta`"
* [ ] fix incomplete example

[2020-07-06 12:19] dlaehnemann opened #296 "improve docs: `data_structures::suffix_array`"
* [x] add at least one example

[2020-07-06 12:19] tedil opened #297 "Improve docs: `io::gff`"
* [ ] fix incomplete example

[2020-07-07 09:33] tedil opened #300 "Fix some clippy issues"

[2020-07-07 09:47] HenningTimm opened #303 "Add reduced representation/ simplified amino acid alphabets"
Reduced amino acid alphabets, for example as described by [Murphey et al. (2000)](https://academic.oup.com/peds/article/13/3/149/1466631), could be an interesting addition to the alphabets module. This should include the alphabets themselves, as well as conversion functions to convert a sequence down to a lower representation. Since this is a lossy operation, reverse functions for this are not req

[2020-07-07 10:45] #300 closed

[2020-07-07 14:38] natir commented on #295
@TomKellyGenetics Can I take this issue?

[2020-07-07 15:04] #291 closed

[2020-07-07 15:21] #286 closed

[2020-07-07 15:29] #280 closed

[2020-07-07 15:33] #293 closed

[2020-07-07 15:35] #296 closed

[2020-07-07 15:55] tedil commented on #284
Fixed in #308

[2020-07-07 15:55] #284 closed

[2020-07-08 00:36] mbhall88 commented on #279
cc @jeff-k

[2020-07-08 00:54] TomKellyGenetics commented on #295
Go for it!

[2020-07-08 00:56] TomKellyGenetics opened #317 "improve docs: `io::fastq`"
* [ ] fix incomplete example

Consistent with #295 if possible.

[2020-07-08 09:15] tedil opened #320 "Fix `cargo doc` warnings"
There are some unresolved references in the docs, mainly because of missing backticks around array accesses.

[2020-07-08 10:35] #281 closed

[2020-07-08 10:50] tedil opened #322 "enable formatting of code in docs"
Code in docstrings is not formatted by default.
rustfmt has an option `format_code_in_doc_comments` which can be enabled to do this. [The option is still unstable *but* in the process of being stabilised](https://github.com/rust-lang/rustfmt/issues/3348), so we might as well use it.

[2020-07-08 11:11] #292 closed

[2020-07-08 13:54] #322 closed

[2020-07-08 20:32] #288 closed

[2020-07-13 14:07] #282 closed

[2020-07-17 02:01] TomKellyGenetics opened #327 "Documentation: error handling in examples:"
As discussed [here](https://github.com/rust-bio/rust-bio/pull/302#discussion_r455811143), there is inconsistent use of `.expect()` and `?` calls in the examples.

Rust-lang [doesn't recommend error handling in examples](https://doc.rust-lang.org/rustdoc/documentation-tests.html#using--in-doc-tests) as it leads to "boilerplate" code. I think it is still beneficial to have complete examples of how t

[2020-07-17 08:27] dlaehnemann commented on #327
Thanks for making sure, we don't forget about this! :D

I think instead of `.error()`, you mean `.expect()` (as [you stated before](https://github.com/rust-bio/rust-bio/pull/302#discussion_r455811143) ;).

Regarding the the actual question: From the [recommendation you linked to](https://doc.rust-lang.org/rustdoc/documentation-tests.html#using--in-doc-tests) I would take the message, that explicit

[2020-07-17 08:41] dlaehnemann commented on #283
@dcroote With PR #314 merged, feel free to check the example box.

@tedil Would you be up for a new PR to address the runtime complexity? It uses IntervalTrees in the background, which you have previously worked on. So I guess you might be quick at estimating the runtime complexity here (and at the same time for the IntervalTrees, maybe;).

[2020-07-17 08:47] dlaehnemann commented on #327
P.S.: Simply using [`unwrap()`](https://doc.rust-lang.org/std/result/enum.Result.html#method.unwrap) to throw the `Err`'s own message (if it has one), should also do. I guess that depends on whether the case at hand has a nicely annotated `Err` or not.

[2020-07-17 09:06] tedil commented on #283
I will have a look!

[2020-07-20 09:33] #295 closed

[2020-07-20 09:33] #297 closed

[2020-07-20 09:33] #317 closed

[2020-07-20 20:54] Keverne commented on #275
Hey guys, I've made a super simple pdb to fastaseq using `lib3dmol`. I was wondering two things 1) is it alright to use this package in `rust-bio` and 2) where would I implement it? There are a few sequence related functions already. My solution take a path and converts it to a `&’static str`, which is then used to load the pdb in with the `read_pdb` function from `lib3dmol`. The amino acid sequen

[2020-07-21 10:15] dlaehnemann commented on #275
Thanks for having a go at this, with testing data and all!

With the current setup, I would think that a parser for the file format would go into the io module, where you have started your work. Anything that extends the representation of amino acids by further annotations, as I understand the PDB format does, would add onto the alphabets module. And then it depends on further functionality that y

[2020-07-21 10:23] Keverne commented on #275
Very good point, perhaps a discussion with the `lib3dmol` team would be beneficial regardless? What do you think @brianjimenez ? I think I prefer the idea Of integrating the package into `rust-bio`, but am also aware of the benefits of just interacting with it as an external crate. Which way are you leaning @dlaehnemann ?

[2020-07-28 03:02] TomKellyGenetics commented on #327
Thanks for pointing that out! I've editing the original post to avoid confusion.

To clarify, I'm okay with either being used as long as they're consistent and won't be deprecated. Working examples which compile and have sensible error handling would be ideal.

[2020-07-28 08:29] dlaehnemann commented on #327
@johanneskoester @tedil @mbhall88 Maybe you have a take on this, as well? I'd be glad to amend the documentation guidelines in the `README.md` with the doctest recommendation to use `.unwrap()` for stuff that has a proper `Err` message and `expect()` otherwise. But wanted to double-check if there are other opinions or if I'm overlooking something, here.

[2020-07-28 08:58] mbhall88 commented on #327
I generally see `.expect()` being used in docs. The reason I personally like this convention (for docs) is you can use the message in the `expect` call to illustrate how the function behaves.

[2020-07-28 10:55] dlaehnemann commented on #327
Just talked to @johanneskoester and he agrees that `.expect()` should be the standard. So we should:

* [ ] amend the README.md accordingly
* [ ] harmonize the existing doctests accordingly

Will quickly do the README, any volunteers for the hamronization? :D

[2020-07-28 13:41] johanneskoester commented on #275
I think integration would be fine. The benefit might be more dev power. The downside is that the authors might feel like loosing control or the ability to track usage and authorship. In the end, it depends all on what the authors say, so feel free to ask them.

[2020-07-28 14:01] brianjimenez commented on #275
I've just contacted one of the main authors, Emmanuel Bresso, and pointed him to this discussion (it was impossible to me to open a new issue in the lib3dmol [Gitlab repository](https://gitlab.inria.fr/capsid.crates/lib3dmol)). Hope they will join soon this discussion.

[2020-07-28 14:02] dlaehnemann commented on #275
Thanks for pinging them in. Curious to see what they think! :D

[2020-07-28 14:06] Keverne commented on #275
Thank you for doing that @brianjimenez ! Definitely interested in their thoughts!

[2020-07-28 14:22] PhilippeNoel1 commented on #275
Hello everybody,
I'm a one of the main developer of lib3dmol. First thanks for the consideration for this library and thanks to @brianjimenez for contacting  my collegue (Emmanuel Bresso). IMO, it's not a problem to integrate lib3dmol to rust-bio and it could be a great improvement. I really like rust-bio but the lack of functionality for PDB format prompted me to develop our own library. I have t

[2020-08-03 01:03] TomKellyGenetics commented on #327
Had a quick look and I think these files need to be looked at:

[code]

If we're only addressing documentation here then the lines commented out are the only issue:

``
src/io/fasta.rs:219:    /// reader.read(&mut record)?;
src/io/bed.rs:245:    /// let rec = reader.records().next().ok_or("No record available!")??;
[code]

[2020-08-03 07:54] mbhall88 commented on #327
Yes, only talking about documentation lines.

[2020-08-03 08:48] TomKellyGenetics commented on #327
I've opened PR #333 to update the examples.

[2020-08-04 12:00] #327 closed

[2020-08-04 15:53] dlaehnemann commented on #27
Just a quick note so people don't wonder why they receive invitations to some `rust-bio` GitHub Teams:

@johanneskoester + some others want to make this whole GitHub organization more of a community effort, so there are now three GitHub Team levels:

1. Contributors: They can push their own branches into the main repository, so that the whole branch and pull request workflow is as easy as possible

[2020-08-04 16:11] natir commented on #27
Hi, it seems no text channels are available on the discord server get some text channels could be very usefull.

[2020-08-05 10:45] dlaehnemann commented on #27
There should currently only be one channel `#general`, which is a text channel. The invite link should take you right to joining the server---either in the browser, or in the App---and this one channel should be the default location, I think. But I am already a member there, so maybe I'm not seeing some additional confusion, happening?
By the way, on Discord you can always click on the icon of som

[2020-08-16 00:42] dcroote opened #335 "Coveralls "SOURCE NOT AVAILABLE""
Currently, despite Coveralls listing coverage, the Coveralls website cannot find source files. For example, an arbitrarily chosen file in the latest master build: https://coveralls.io/builds/32576703/source?filename=src/alignment/distance.rs. On this page note under the "SOURCE FILE" heading it lists `src` twice: ` src/src/alignment/distance.rs`, which makes me think the issue is related to the Co

[2020-08-16 14:01] HenningTimm commented on #285
Resolved by https://github.com/rust-bio/rust-bio/pull/315

[2020-08-16 14:03] #285 closed

[2020-08-16 15:35] HenningTimm opened #336 "Logo for Rust-Bio"
During the rust-bio docathon 2020 I created a logo for our discord channel. I finally found some time to prepare two additional versions and put on some finishing touches. If we would like to adopt a project logo, I would offer these as a suggestion (or an initial draft to iterate upon).

All of these are based on Ferris the Rustacean designed and released under CC0 1.0 by [Karen Rustad Tölva](htt

[2020-08-18 09:47] dlaehnemann commented on #336
I think I like versions 2 and 3 best. Version 2 because it is very neat, clean and with the thicker lines makes the base pairing visible even when the logo is very small. Version 3 because it looks a bit more like Ferris is wrangling with the DNA -- with the wrangling feeling much closer to the work of a bioinformatician. And how would Version 3 look, with the DNA in front of Ferris' body instead

[2020-08-18 10:33] kloetzl opened #337 "floating point inaccuracy in gcn_content"
gcn_content doesn't count properly on long strings, because it uses f32. The following example should output 0.5, but gives 0.59.

[code]

The obvious fix is to use an unsigned 64 bit type for counting and and convert to f64 at the end.

[2020-08-18 12:02] TyberiusPrime commented on #336
+1 for version 3 from me. Like the 'this DNA is over my head' vibe very much.

[2020-08-19 07:36] HenningTimm commented on #336
Thank you for the feedback :) As requested by @dlaehnemann a version with the DNA in front:

### Version 4: With a curled strand in front
![rust_bio_logo_alt_front_small](https://user-images.githubusercontent.com/18420184/90605903-4e03bf80-e1ff-11ea-9f40-d5a327923582.png)

[2020-08-19 08:04] dlaehnemann commented on #336
Version 4 looks...hairier...
Version 3 looks...wranglier...
I like both a lot.

Any more opinions on the logo suggestions, everybody? @rust-bio/contributors

[2020-08-19 08:21] jafors commented on #336
I liked that in version 1 and 2, the DNA and ferris were neatly seperated without overlap, but that's probably just a very specific case of minor OCD. ;)

The curled DNA looks very nice, I'd prefer version 4 here, with DNA in front.

[2020-08-19 09:15] dlaehnemann commented on #336
You're right. Version 1 and 2 have a cleaner and more compact overall look. All logo versions are great... What now?

[2020-08-19 09:32] brainstorm commented on #336
Version 2 #ftw ;)

[2020-08-20 09:03] #337 closed

[2020-08-24 08:23] HenningTimm commented on #336
Thank you all for your feedback! I assembled an overview of versions 1 – 4 in different sizes.
![overview_small](https://user-images.githubusercontent.com/18420184/91014167-348cba00-e5e9-11ea-95c9-d8ac7b89f6c4.png)
I will try to make some minor changes and see if I can address @FelixMoelder's concerns. After that iteration I will draft a PR.

What would be the best location for a logo? Add it to t

[2020-08-24 08:25] mys721tx commented on #336
2, 3, and 4 looks better than 1 in smaller sizes. The overhang in 3 and 4 looks too busy.

[2020-08-24 08:34] FelixMoelder commented on #336
Now, I would be satisfied with version 1 or 2 equally. :)
What I like about version 3 and 4 is, that it looks like Ferris is actually cutting dna. But as @mys721tx says, these two look too busy.

[2020-08-24 21:57] Daniel-Liu-c0deb0t commented on #336
Hey, I just wanted to say that the logos look awesome!

@mys721tx said that the small version 1 logo does not look as good as the others. Perhaps its possible to use the "bolded" (version 2) logo for small sizes, and the thinner version 1 logo for large sizes?

[2020-08-25 14:17] TianyiShi2001 commented on #275
Hello everyone,

Not sure if this is relevant here, but I recently started independently developing parsers for PDB based on a performant parser combinators library called [**nom**](https://github.com/Geal/nom). The repository is [here](https://github.com/TianyiShi2001/nom-pdb). In contrast to **lib3dmol** mentioned above which only reads information about atoms, my main goal is to represent all v

[2020-08-25 19:13] joshwilding4444 commented on #3
I would be happy to start writing more benchmark tests. I'll start with the functions related to sparse alignments. Should I write benchmarks for every non-trivial function, or should I work on a particular subset of functions?

[2020-08-25 19:30] joshwilding4444 commented on #27
Hello, I'm a bioinformatics programmer trying to gain more experience and start contributing to open-source projects. My primary programming experience in the past has been with languages like C++, Java, and Python, but I'm excited to learn more Rust and to more actively participate in community projects.

[2020-08-26 19:50] dlaehnemann commented on #27
Welcome @joshwilding4444 and feel free to contribute and ask for reviews!

[2020-08-28 09:31] natir opened #341 "Use crate thiserror to simplify error management."
The pull request #340  made me realize that the error messages were handled by hand in rust-bio. I figured that using a crate like thiserror could simplify the error handling at rust-bio to develop them as well as for the users.

I suggest thiserror because I know it and use it but if you know other similar crates don't hesitate to suggest it.

[2020-08-30 08:02] carrascomj commented on #3
Hello! Is similarity clustering in the scope of this library (or rust-bio-tools)? It would be nice to know if someone is working in a [UCLUST](https://www.drive5.com/usearch/manual/uclust_algo.html) clone or any of the [mmseqs2](https://github.com/soedinglab/MMseqs2/) clustering methods.
Also, If someone could point me to a good resource to understand these algorithms a bit better, I could try to

[2020-08-31 03:55] vsoch commented on #27
hey everyone! It's amazing how long ago this was posted, and the thread is coming back to life! I can't say I offer much in terms of rust experience, but I've been really wanting to learn more (and somewhat tired of artificial Exercism exercises) so I'd really love to help. I've done some work with workflow managers / wrappers and think if I could help here, I might be able to extend what I learn

[2020-08-31 09:08] natir opened #342 "Use features to reduce number of dependency and speedup compilation time for user"
Hi everyone.

Rust-bio have actually 28 dependencies, these dependencies have dependencies. All this stuff increase the compilation time.

In my usage and I think in the usage of many rust-bio users I didn't use all rust-bio features.

By using cargo features we can reduce the number of dependencies and the compilation time by build only what the user needs.

By default, all features will be activ

[2020-08-31 10:45] tedil commented on #336
or use a line-thickness somewhere in between 1 and 2?

[2020-08-31 14:00] veldsla commented on #342
I agree. The large dependency tree/compile time of rust-bio is the only reason I have released a couple of crates as standalone libraries instead of contributing them to rust-bio. Even if it probably limits exposure and thus usage of these libs.

Dividing into features is probably easiest. There are some cross usages in the modules you propose though (e.g. pattern_matching uses alignment). So it w

[2020-08-31 15:04] dlaehnemann commented on #27
Welcome @vsoch, you should have an invite to the Contributors team, so you can push branches directly to rust-bio and don't have to create a fork!

[2020-08-31 15:15] dlaehnemann commented on #3
Sure, any more general bioinformatics algorithms that can be used across tools should go into rust-bio, general data types can be defined in rust-bio-types and if you want to create some simple command-line tool based on rust-bio (and/or rust-htslib), you can do this in rust-bio-tools. Any bigger tools that use general rust-bio functionality but do some bigger amounts of extra work probably warran

[2020-08-31 15:43] pmarks commented on #342
Hi all, as heavy users of `bio` we've also felt the impact the large amount of code & dependencies.  I have been considering proposing splitting `bio` into smaller crates for a while. The alternative of making a series of features should also be considered.  We need a healthy discussion on this (and maybe some prototyping). @johanneskoester

Here's some pros/cons that people have mentioned here &

[2020-08-31 16:08] dlaehnemann commented on #342
Thanks for the detailed summary of pros and cons. Looking at it, I also think that splitting rust-bio up into several crates under the rust-bio organization is probably the right way forward, eventually. In any case, splitting into features or crates will require some refactoring, e.g. the `io` module will probably have to be split across different topics or domains, so that reading and writing ce

[2020-08-31 16:16] natir commented on #342
Indeed, my features split isn't the most optimal.

I hadn't thought about the benefits of separating into smaller crates. And indeed it seems more interesting to me for the end-user. Even if I'm afraid that we'll find a level of granularity where there is one crate per function. And it more complicate way.

I would like to summarize the situation this way. The use of features is an hotfix to reduc

[2020-08-31 16:25] vsoch commented on #342
I'm in support of more modular development, for the reasons already stated and better ownership of managing issues, requests for changes, etc. I'm relatively green with rust, so please keep me in mind if there is an effort that needs to do work that a more experienced rustacean might consider arduous (e.g., splitting existing code into separate libraries) because I think I would learn a lot!

[2020-08-31 18:53] johanneskoester commented on #342
Hi guys,
my main concern is maintenance burden. Maintaining multiple crates will only work if this is all fully automated, and it is ensured that stuff stays in sync. Features seem like a reasonable fix to this issue, if they are easy enough to handle this.

[2020-08-31 20:10] joshwilding4444 opened #343 "Memory allocation failed error when running 'cargo test'"
When running the current master branch as of Aug 31, 2020, when I run the tests using:
`$ cargo test`

I receive the following error:
[code]
The failure to allocate memory happens at the test_interleave_gaps_y or at test_interleave_gaps_x within stats::pairhmm::homopolypairhmm::tests. This same error happens if I run all tests or if I just run the tests in stats.

Has anyone else experienced this

[2020-08-31 21:52] vsoch commented on #343
I made it much further, but failed on another test (Ubuntu 16.04)

[code]

[2020-08-31 22:03] joshwilding4444 commented on #343
Interesting, @vsoch .  My system is running Linux Mint 20 and has 8GB RAM. What are the specifications for your machine?

[2020-08-31 22:13] vsoch commented on #343
![image](https://user-images.githubusercontent.com/814322/91773907-e5282a00-eba4-11ea-99a1-b0c7a085a1f2.png)

But I have a gazillion things running and open, so probably it isn't all available!

[2020-09-01 07:17] veldsla commented on #342
But the subcrates don't have to be released synchronously. It seems that quite a few parts have not seen many changes lately and it might be possible to 1.0 these guaranteeing a stable API. Introducing a breaking change might be more difficult because you probably want to avoid requiring different versions in different subcrates. But on the other hand, if stuff is continuously being added to rust-

[2020-09-01 17:16] joshwilding4444 commented on #343
Ok, both of our machines should have enough memory to run a few tests. I think that there is an issue with memory allocation somewhere, but I'm not sure exactly where. If you have time, @vsoch you could try running the tests without other major programs running, just to see if that makes a difference. I think that there will still be an allocation issue somewhere along the line.

I understand that

[2020-09-01 22:35] joshwilding4444 commented on #343
When rerunning the tests, I find that every time the tests fail, the test fails to allocate the same amount of memory, 2147483640 bytes, every time it runs, even though the test output will stop at different points. For me, the test will always fail right after either test_interleave_gaps_x or test_interleave_gaps_y. Looking at the status of top in another window shows that the program will go up

[2020-09-02 07:02] holtgrewe opened #345 "Implementing GATK-like "chromosomal progress" display"
There is a number of Rust progress displays already. However, it would be nice to have a progress display that is GATK like in that

- Overall progress is along a list of contigs (name + length)
- Progress is displayed every `n` seconds
- Current running time, expected running time are display

Would that be useful for the `rust-bio` organization? Does anyone have any code for something like this

[2020-09-02 10:00] HenningTimm commented on #336
Sorry for the late reply. Lots of work. Thanks again for all the feedback.

I added two new versions. Both with a line width in between 1 and 2. One with a lighter color for the backbone.
![overview](https://user-images.githubusercontent.com/18420184/91967397-74535000-ed13-11ea-9639-1eac288abe99.png)

[2020-09-03 09:54] tedil commented on #345
I personally don't think this crate needs to expose any progress meters/bars whatsoever. That should rather be handled by the user (i.e. by using one of the available progress crates). We could of course have some gists/recipes ready for those use-cases, though.

[2020-09-03 10:14] Daniel-Liu-c0deb0t commented on #343
Is it possible to narrow down the location of the error and check if it still happens when `test_interleave_gaps_x/y` is ran by itself with `cargo test test_interleave_gaps_x`?

[2020-09-03 17:04] vsoch commented on #343
Running by themselves:
[code]
and
[code]
Ok - I just tested running tests with my chrome open (failed at same point) and closed (all finished successfully).

[2020-09-03 17:12] vsoch commented on #343
Hmm, when I set the number of jobs (CPU) to use, it started working for me, and now I can't get it to fail again. This worked for me (success with chrome open)

[code]
and my machine has
[code]
I tested from 2 to 8. And now the regular test command is no longer failing either!

[2020-09-03 18:50] joshwilding4444 commented on #343
@vsoch I am now experiencing something similar. When I run the tests using:
```$ cargo test --jobs 8```
while I have other programs open, the tests fail in the same way, but at a slightly later point. When I run the tests without other programs open, the tests pass just fine, and now when running:
```$ cargo test```
or
```$ cargo test --jobs 1```
the tests all pass. Maybe there is a problem with h

[2020-09-03 18:56] joshwilding4444 commented on #343
When running the tests again with several other programs open, the tests will fail again as before. This is true even when running:
```$ cargo test --jobs 8```

@vsoch did you happen to try testing with a bunch of other programs open? @Daniel-Liu-c0deb0t what does running the tests look like on your machine?

[2020-09-03 19:37] vsoch commented on #343
My initial failure had two firefox windows (with many tabs open) plus Audacity, later I just had the browsers.  Now I just opened audacity again and it's still working! lol. The bug that got away...

[2020-09-03 22:42] Daniel-Liu-c0deb0t commented on #343
For me, all tests pass with just `cargo test`. I do have more than enough memory (16GB) on this computer, though.

I don't think compilation or optimization is the issue here. I guess if you want to check, you can use `cargo clean && cargo test` to see if rebuilding everything changes the results? Or maybe you could test `cargo test --release`, to get it to use a higher optimization level? For me,

[2020-09-04 10:10] tedil commented on #343
It's neither the tests fault nor a bug in the algorithm. The problem here is that a transition table is pre-allocated (and pre-computed) with 2147483640 entries of size 8, i.e. `268435455 * 8 = 2GiB`. So it really does need the 2GB of memory. (The HomopolyPairHMM has way more states and transitions than the traditional PairHMM, which is why there's the memory allocation difference between the two.

[2020-09-04 18:27] TianyiShi2001 opened #347 "Faster, more space-efficient (global) alignment"
The current `Alinger` uses **6 vectors of length `n+1`** where `n` is the length of one of the two sequences.
[code]
According to [Myers & Miller (1988)](https://doi.org/10.1093/bioinformatics/4.1.11), only **2 vectors of length `n+1`** are needed. Based on their idea, I was able to produce such an Aligner in Rust for global alignment [(source code)](https://github.com/TianyiShi2001/bioinformatics

[2020-09-04 19:56] Daniel-Liu-c0deb0t commented on #343
Ah, I see. Glad to see this fixed.

[2020-09-06 01:41] TianyiShi2001 opened #349 "Using KaTeX for math expressions in docs"
Would it be nice to use KaTeX in docs so that math expressions can be better formatted? It is particularly useful when explaining complex algorithms which are ideally documented in rustdoc.

[Here](https://docs.rs/rustdoc-katex-demo/0.1.5/rustdoc_katex_demo/) is a demo.

[2020-09-06 04:54] TianyiShi2001 opened #350 "Sequence analysis on polypeptides"
Would it be useful to implement some sequence analysis based on the primary structure of polypeptides? The functions in [ExPASy's ProtParam Tool](https://web.expasy.org/protparam/) would be a good starting point.

[2020-09-06 05:10] TianyiShi2001 commented on #350
To start with, I've implemented a function for computing (estimating) the isoelectric point.

[2020-09-06 18:10] vsoch commented on #349
How are the docs deployed? I see the [documentation guidelines](https://github.com/rust-bio/rust-bio#documentation-guidelines) in the README but I don't see any commands that would indicate building or deploying them somewhere (or is there a linked third party service?) Would using KaTex mean a change in this strategy?

[2020-09-07 00:43] TianyiShi2001 commented on #349
We're using Rust's standard workflow of doc generation (by `rustdoc`) and deployment (on [docs.rs](https://docs.rs/bio/0.32.0/bio/)). Therefore, customizing documentation output is as simple as adding a few parameters in `Cargo.toml`. For using `KaTeX`, for example, we only need to add:

[code]

where `<path-to-katex-header>` is the path of the header html file relative to the project root directo

[2020-09-07 01:28] pmarks commented on #347
@TianyiShi2001 as you probably noticed, most the memory in the dense aligner is taken up in the `Traceback`.  The Myers-Miller algorithm would definitely be useful to have, although in my experience by the time you're worried about the memory consumption, the n^2 algorithm also gets slow & sparse methods become more appropriate.

[2020-09-07 05:27] brainstorm commented on #336
3rd row #ftw, good job! ;)

[2020-09-07 10:24] #343 closed

[2020-09-08 05:31] TianyiShi2001 commented on #347
@pmarks I realized this idea can be applied to the current algorithm directly, with improvement in BOTH speed and space-efficiency. See #354

[2020-09-08 06:09] TianyiShi2001 commented on #347
@pmarks thanks for reminding that `Traceback` takes up most space, which I did not notice.

But Myers-Miller algorithm is not *__O(n<sup>2</sup>)__* but  *__O(n)__*. It is actually faster than the current implementation of `Aligner` when doing global alignment of two 5000-nucleotide sequences.

The problem is that, Myers and Miller only achieved global alignment, and I haven't found any semiglobal

[2020-09-08 14:19] dlaehnemann commented on #349
I really like this idea. I'll try and point some more people here via Discord, for some more feedback.

[2020-09-09 04:41] #350 closed

[2020-09-09 04:42] #349 closed

[2020-09-09 06:28] tedil commented on #341
I'd also vote vor thiserror + anyhow. Funfact: when these two crates first appeared, rust-bio etc had just been adapted to use snafu ;D

[2020-09-09 12:01] TianyiShi2001 commented on #347
I realized that local and semiglobal alignments can be implemented in linear space using this algorithm. See PR #355

[2020-09-10 03:51] #347 closed

[2020-09-10 08:42] TianyiShi2001 opened #358 "More Benchmark Comparisons with SeqAn (and other bioinformatics libraries)"
The index page of the API Documentation has [a section](https://docs.rs/bio/0.32.0/bio/#benchmarks) in which the performance of 4 pattern matching algorithms are compared with their counterparts in SeqAn.
I think benchmark comparison with other libraries is a good way to motivate optimisation of `rust-bio` code, ultimately improving `rust-bio`'s usability.
I think it would be nice to open another

[2020-09-13 10:54] HenningTimm commented on #336
Thanks everyone! I opened a PR to resolve this issue.
If you find another application for this logo or want to toy around with it in any way, please feel free to do so. I will keep the up and available.

[2020-09-15 12:15] TianyiShi2001 opened #362 "Xclip and Yclip variants in AlignmentOperation is not necessary"
consider this example:

[code]

which produces:

[code]

while semiglobal alignment is just a special case of custom alignment which allows clipping of Y with no cost as I see it, only in custom mode does the `operations` field contain clipping lengths, and in the semiglobal mode `.pretty()` infers the clipping lengths from `ystart` and `yend` to pretty-print the output.

Similarly, it is also pos

[2020-09-15 17:44] #362 closed

[2020-09-15 17:46] TianyiShi2001 commented on #362
I’ll include this along with a bunch of other suggestions regarding alignment, which will result in breaking changes

[2020-09-16 03:47] TianyiShi2001 opened #363 "Improving the representation of alignment results [breaking changes]"
The current `Alignment` struct for representing alignment results is defined as follows:

[code]

I think there are a few ways it can be improved:

### Making the `score` field generic over all number types

Reasons:

1. We may implement alignment algorithms with log gap and log-affine gap in the future. This will require floating point numbers.
2. One may need to align long sequences, which can p

[2020-09-17 12:22] TianyiShi2001 opened #366 "Implement the WFA algorithm"
A novel exact pairwise alignment algorithm, namely the wavefront alignment algorithm (WFA) has been proposed recently in September 2020 (big thanks to @dlaehnemann for noting this!):

[Marco-Sola, S., Moure, J.C., Moreto, M., and Espinosa, A. (2020). Fast gap-affine pairwise alignment using the wavefront algorithm. Bioinformatics . Accessed September 14. doi:10.1093/bioinformatics/btaa777](https:/

[2020-09-23 05:22] XVilka commented on #3
Do you have any plans to setup OpenCollective/GitHub Sponsors? I would certainly be happy to send a bit from time to time, like it's done with BioJulia:
- https://opencollective.com/biojulia
- BioJulia don't have GH Sponsors, so take a look at Neovim example: https://github.com/sponsors/neovim

[2020-09-24 18:00] joshwilding4444 commented on #366
I would be interested in working on that. I will take a look at the algorithm and start working on an implementation.

[2020-09-27 20:43] mys721tx commented on #27
Hey everyone! I have been working on the GFF reader for some time now and I would like to join the team!

[2020-09-28 08:36] dlaehnemann commented on #27
Of course, @mys721tx . You should have an invitation. Should you want to join any other Teams, e.g. the Review team (which everyone can ping when they need a review of a pull request), drop a note here or over on Discord:
https://discord.gg/rssQABT

[2020-09-30 08:00] TianyiShi2001 opened #369 "Use git hooks"
# Motivation

Clippy warnings  are abundant in this crate, and they are usually not fixed by the original author but later fixed collectively. It would be more efficient if these were fixed by the original author(s) as they know best about what they wrote.

# Solution

Git hooks makes it possible to run specific commands to check the correctness and quality **before committing** (or before pushing

[2020-09-30 08:01] TianyiShi2001 commented on #369
This can only start to work after we've fixed all currently existing problems.

[2020-09-30 08:15] TianyiShi2001 commented on #369
Since `.git/*` itself is not tracked, tools such as [**cargo-husky**](https://github.com/rhysd/cargo-husky) may be helpful in setting up the hook files.

[2020-10-02 08:23] lnicola commented on #342
Another idea for improving the compilation time is to avoid procedural macros. They're nice, but sometimes not essential. See https://github.com/salsa-rs/salsa/pull/201 for an example.

Unfortunately, there might not be any easy wins here: I assume that `regex` and `serde` are essential, and neither `snafu` nor `derive-new` seem to be on a critical path in the build graph:

![image](https://user-i

[2020-10-02 09:53] dlaehnemann opened #374 "fix cargo tarpaulin timing out in GitHub Actions"
We have this happening across projects, so it seems to be something fundamental. It could be related to:
https://github.com/xd009642/tarpaulin/issues/573

@mys721tx further [suggested over on Discord](https://discordapp.com/channels/715534131760595015/715534131760595019/761271391088541727), that:

Most of the latest pull requests' test failures should be a good starting point for investigating thi

[2020-10-02 09:57] dlaehnemann opened #375 "unify GitHub Actions workflow across rust-bio org"
Following up on issue #374 , we should try to unify the handling of GitHub Actions workflows across the code repos of the `rust-bio` Org as much as possible (as suggested by @TianyiShi2001 [over on Discord](https://discordapp.com/channels/715534131760595015/715534131760595019/761281630731501568)). This way, we would only have to fix each problem once.

@mys721tx [suggested](https://discordapp.com/

[2020-10-02 10:46] TianyiShi2001 opened #376 "Fix clippy warnings — the pairhmm mod"
After merging #373 , warning-free commits will be enforced in future commits. Before that can work, existing clippy warnings must be fixed. This issue is for discussion on how to deal with the pairhmm module naming issue:

[code]

[2020-10-02 10:49] TianyiShi2001 opened #377 "Fix clippy warnings — single-character variable names"
After merging #373 , warning-free commits will be enforced in future commits. Before that can work, existing clippy warnings must be fixed. This issue is for discussion on how to deal with single-character variable names in `alignment::pairwise::*`.

[2020-10-02 10:54] TianyiShi2001 commented on #377
How about using `query` and `reference` instead of `x` and `y`, which is what BioPython and (Bioconductor) Biostrings is doing?
Indeed, some people, like me, will regard `x` and `y` as `reference` and `query` at first glance since it's more natural, from a mathematical point of view, to "change from `x` to `y` " or "`y` versus `x`" rather than the reverse.

[2020-10-02 15:05] xMAC94x commented on #374
hi, dev from veloren here, it might be related to simd coding. i might create a patch to tarpaulin that lets you help analyse the issue in --debug mode :)

[2020-10-02 16:10] mys721tx commented on #375
I was thinking out loud. A brief search [showed](https://github.community/t/how-to-reuse-a-whole-workflow/17628/10) that it reusing workflows via submodule is an enterprise-level feature. Unfortunately we won't be able to use it for the time being.

[2020-10-02 16:42] mys721tx commented on #375
github/roadmap#98 should be of interest.

[2020-10-03 07:52] tedil commented on #369
We already have a pre-commit configuration here: https://github.com/rust-bio/rust-bio/blob/master/.pre-commit-config.yaml which can be used with https://pre-commit.com/
There's a rust hook repo here: https://github.com/doublify/pre-commit-rust
which also has a clippy action, so we can use that.

Note that using pre-commit is not mandatory, i.e. it can only ever be a recommendation for devs to use.

[2020-10-03 15:24] TianyiShi2001 commented on #270
This has been fixed in https://github.com/rust-bio/rust-bio/pull/359 because the compiler complained at this.

[2020-10-03 15:24] #270 closed

[2020-10-03 16:05] TianyiShi2001 commented on #369
@tedil cool, I'll make this explicit in `CONTRIBUTING.md`